@model UI.ViewModels.MealStyleListViewModel
@using DAL
@using DTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}
@section Styles{
    <script src="https://kit.fontawesome.com/8e104d5e19.js" crossorigin="anonymous"></script>
    

    <link href="~/Content/css/dietAddMeal.css" rel="stylesheet" />
    <link href="~/Content/css/stylesPlay.css" rel="stylesheet" />
    <link href="~/Content/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/css/flexslider-rtl.css" rel="stylesheet" />

    <style>

        .styleIcon {
            width: 110px;
            height: 110px;
            /*border: 1px solid gray;*/
            margin: 0 20px
        }

            .styleIcon img {
                width: 100%;
            }
    </style>
}




<header style="background-color: #fff0f0; width: 100%; padding-right: 0px " class="pt-5 pb-1 m-0 col-12">
    <div class="row" style="width: 100%; padding-right: 20px">

        <div class="col-3 col-sm-3 col-lg-2 p-2 p-0" style="text-align:center">
            <a href="~/Home2/Index"><img src="~/Areas/Admin/Content/tempimage/hLogoRed.jpg" style="max-width:90px;width:100%"></a>
        </div>
        <div class="col-8 col-sm-7 col-lg-8 p-1 align-self-center">
            <h2 style="font-size:1.8em"><i class="fas fa-hamburger" style="width:30px"></i> 餐點類型</h2>
        </div>

    </div>
</header><header id="header" class="m-0 p-0"></header>

         <section class="pt-2 pb-5">




             <div class="flexslider carousel px-4 pt-3 pb-0 mb-1">
                 <ul class="slides">
                     @{


                         foreach (MealTagCategory mCtgy in Model.TagsCategories)
                         {
                             <li>
                                 <figure class="pb-0">
                                     <img src="~/Content/Images/TagCategoriesImages/@mCtgy.Image" width="360" data-ctgyID="@mCtgy.ID" height="280" class="mTagImg">
                                     <figcaption>
                                         @mCtgy.Name
                                     </figcaption>
                                 </figure>
                             </li>


                         }
                     }
                 </ul>

             </div>


             <div class="py-4">

                 <div class="row ">
                     <div class="col-4">
                         <h1 id="hTagName" style="float:left">@Model.TheMealStyle.MealStyleName</h1>
                     </div>
                     <div class="col-8 row">

                         <div class="col-3" style="color: #f56a6a">

                             <label>剩餘熱量額度: </label>



                             <span class="h2"> @Model.RemainActiveCal </span>大卡

                         </div>
                         <div class="col-3" style="color: #f56a6a">

                             <label>目前累計熱量: </label>



                             <span class="h2">@Model.TodayGainedCals </span>大卡

                         </div>
                         <div class="col-3" style="color: #f56a6a">
                             @{
                                 if (Model.MemberProfile.CurrProgram != null)
                                 {
                                     <label>我的挑戰上限: </label>


                                 }
                                 else
                                 {
                                     <label>我的TDEE: </label>
                                 }
                             }
                             <span class="h2"> @Model.MemberProfile.ProgramMaxCalOrTDEE </span>大卡

                         </div>


                         <div class="col-3">
                             <a href="@Url.Action("Create", "HHDiet")">
                                 <input type="button" id="TempListCount" value="" class="btn btn-default " style="font-size:16px ;width:100%" />
                             </a>
                         </div>

                     </div>

                 </div>
                 <div class="row py-md-3">
                     <div class="col-6 col-md-6 row">
                         <input type="text" id="searchText" class="form-control" placeholder="關鍵字" style="height:40px" />
                     </div>

                     <div class="col-6 col-md-6">
                         <select id="selSort" class="form-control">
                             <option selected disabled value="0">排序條件</option>
                             <option value=1>依卡路里含量排序: 低 -> 高</option>
                             <option value=2>依卡路里含量排序: 高 -> 低</option>
                             <option value=3>依蛋白質含量排序: 低 -> 高</option>
                             <option value=4>依蛋白質含量排序: 高 -> 低</option>
                             <option value=5>依碳水化合物含量排序: 低 -> 高</option>
                             <option value=6>依碳水化合物含量排序: 高 -> 低</option>
                             <option value=7>依脂肪含量排序: 低 -> 高</option>
                             <option value=8>依脂肪含量排序: 高 -> 低</option>

                         </select>
                     </div>
                 </div>



                 <div class="row" >
                     <input type="button" id="btnAllMeals" class="button primary large col-4" value="全部餐點">

                     <input type="button" id="btnShowTDEE" class="button large col-4" value="TDEE">



                     @{
                         if (Model.MemberProfile.CurrProgram != null)
                         {
                             <input type="button" id="btnLightProMeals" class="button large col-4" value="符合計畫">

                         }
                         else
                         {
                             <input type="button" id="btnLightProMeals" class="button large col-4" value="輕食一下">
                         }
                     }
                 </div>
                 <div class="row" style="color: #f56a6a">
                     <div id="divBtnNoteAll" class=" col-4">以下為此分類全部餐點</div>
                     <div id="divBtnNoteTDEE" class=" col-4" style="visibility:hidden">為您提供不超過TDEE的餐點選擇</div>
                     @{
                         if (Model.MemberProfile.CurrProgram != null)
                         {
                             <div id="divBtnNoteProOrLight" class=" col-4" style="visibility:hidden">為您提供符合 @Model.MemberProfile.CurrProgram.Name 減脂計畫餐點選擇</div>

                         }
                         else
                         {
                             <div id="divBtnNoteProOrLight" class=" col-4" style="visibility:hidden">選擇以下餐點 您將省下TDEE 5%的熱量</div>
                         }
                     }





                 </div>
                 <div class="row pt-3" id="divAllMealOnlyBtns" style="display:none">
                     <input type="button" id="btnGuess" class="button   col-2" value="猜你會想吃">

                     <input type="button" id="btnFitSuggestion" class="button  col-2" value="減脂推薦">
                 </div>

             </div>

             <div id="mealList" class="row gx-5 mt-lg-4">

                 @Html.Partial("_MealOptionViewModelPartial", Model.TheMealStyle.Meals)

             </div>
         </section>

             @section Scripts{
                 <script src="~/Content/js/chart.min.js"></script>
                 <script src="~/Content/js/jquery-ui.js"></script>
                 <script src="~/Content/js/popper.min.js"></script>

                 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
                 <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
                 <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
                 <link rel="Stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/blitzer/jquery-ui.css" />
                 <script src="~/Content/js/bootstrap-slider.min.js"></script>
                 <script src="~/Content/js/jquery.flexslider-min.js"></script>
                 <script>
        $(window).load(function () {



            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 120,
                itemMargin: 35
            });
        });


            var glCurrMealTagID = {
                value: null,
                letMeKnow() {
                    $("#divAllMealOnlyBtns").css("display", 'none')
                    if (this.value == 54) //ID54 is All Meals
                    {

                        $("#divAllMealOnlyBtns").css("display", '')
                    }
                },
                get ID() {
                    return this.value;
                },
                set ID(value) {
                    this.value = value;
                    this.letMeKnow();
                }
            }

            $(document).ready(() => {

                glCurrMealTagID.ID =@Model.TheMealStyle.MealStyleID ;


            GetTempDietLogsSession()

        })



        function GetTempDietLogsSession() {
             fetch('@Url.Action("GetSession", "HHApi_DietLog")', {
                method: "GET",
             }).then(response => response.json()).then(data => {
                 let showTempCount = 0;
                 if (data != 0) { showTempCount = data.length;}
                 $("#TempListCount").val("返回暫存飲食清單: " + showTempCount)
            })

        }
        //==============================


        $("#btnAllMeals").click(QueryMeetRequredMeals)
        $("#btnShowTDEE").click(QueryMeetRequredMeals)
        $("#btnLightProMeals").click(QueryMeetRequredMeals)

            function QueryMeetRequredMeals() {
                $("#divAllMealOnlyBtns :button").removeClass("primary");
            $(this).addClass("primary").siblings().removeClass("primary");
            let calMaxToProvide = null
            switch ($(this).attr("id")) {
                case "btnAllMeals":
                    $("#divBtnNoteAll").css("visibility", "visible").siblings().css("visibility", "hidden");

                    break;
                case "btnShowTDEE":
                    $("#divBtnNoteTDEE").css("visibility", "visible").siblings().css("visibility", "hidden");
                    calMaxToProvide = @Model.MemberProfile.TDEE-@Model.TodayGainedCals ;


                    break;

                case "btnLightProMeals":
                    $("#divBtnNoteProOrLight").css("visibility", "visible").siblings().css("visibility", "hidden");
                    if (@Model.MemberProfile.ProgramMaxCalOrTDEE<@Model.MemberProfile.TDEE) {   //has Program
                        calMaxToProvide = @Model.MemberProfile.ProgramMaxCalOrTDEE-@Model.TodayGainedCals ;
                    }
                    else
                    {
                        calMaxToProvide = @Model.MemberProfile.TDEE * 0.95 -@Model.TodayGainedCals   ;  //has No Program   0.9
                    }
                    break;

            }

            if (calMaxToProvide == null) {
                $(".divMealOpt").css("display", "");
            }
            else {
                $(".divMealOpt").each(function (index, element) {
                let mealCal = $(this).find(".mealInfoCal").text();
                {
                    if (mealCal <= calMaxToProvide) {
                        $(this).css("display", "");
                    } else {
                        $(this).css("display", "none");
                    }
                }

            });

            }
            }
            $("#btnFitSuggestion").click(() => {
                $("#btnAllMeals").addClass("primary").siblings().removeClass("primary");
                $("#btnFitSuggestion").addClass("primary").siblings().removeClass("primary")

                 fetch('@Url.Action("GetFitSuggestionMealIDs", "HHApi_DietLog")', {
                    method: "GET",
                 }).then(response => response.json()).then(items => {
                     alert(items)
                         //$('.divMealOpt').each(function (index, element) {


                         //    if (items.includes(parseInt($(this).find(".hiddenMealID").val())))
                         //    {
                         //           $(this).css("display", '')
                         //    }
                         //    else {
                         //        $(this).css("display", 'none')
                         //    }

                         //})

                })
            })

            $("#btnGuess").click(() => {
                $("#btnAllMeals").addClass("primary").siblings().removeClass("primary");
                $("#btnGuess").addClass("primary").siblings().removeClass("primary")
                 fetch('@Url.Action("GuessMealIDsMemberWants", "HHApi_DietLog")?memberId=' +@Model.MemberProfile.MemberID, {
                    method: "GET",
                 }).then(response => response.json()).then(items => {
                     console.log(items)
                         $('.divMealOpt').each(function (index, element) {


                             if (items.includes(parseInt($(this).find(".hiddenMealID").val())))
                             {
                                    $(this).css("display", '')
                             }
                             else {
                                 $(this).css("display", 'none')
                             }

                         })

                })

            })

        $("#mealList").on("click", ".btnToggleLiked", (e) => {
            mealID = $(e.currentTarget).parent().parent().find(".hiddenMealID").val()
            console.log(mealID)
              $.ajax({
                type: "GET",
                  url: '@Url.Action("LikeMealToggle", "HHApi_DietLog")?memberId=' +@Model.MemberProfile.MemberID + '&mealId=' + mealID,
                contentType: "html",
              }).done(function (isLiked) {
                  if (isLiked == true) {

                      $(e.currentTarget).find(".fontLike").removeClass("far").addClass("fas ");
                     }
                  else {
                      $(e.currentTarget).find(".fontLike").removeClass("fas").addClass("far ");

                  }


                 })



        })

        $("#mealList").on("click", ".addToTempList", (e) => {
            let mealOptionID = $(e.currentTarget).parent().parent().find(".hiddenMealID").val()
            let mealName = $(e.currentTarget).parent().parent().find(".mealInfoName").text()
            let mealCal = $(e.currentTarget).parent().parent().find(".mealInfoCal").text()
            let mealUnitName = $(e.currentTarget).parent().parent().find(".mealInfoUnitName").text()


            let itemObj = {
                "MemberID": @Model.MemberProfile.MemberID, "Portion": 1, "Name": mealName, "Calories": mealCal, "MealOptionID": mealOptionID,
                "TimeOfDayID": 1, "Date": '@DateTime.Now.ToString(CDictionary.MMddyyyy)', "UnitName": mealUnitName
            };
            console.log(JSON.stringify(itemObj))
             @*fetch('@Url.Action("AddItemToSession", "HHApi_DietLog")', {
                 method: "POST",
                 data: JSON.stringify(itemObj),
             }).then(response => response.json()).then(() => {
                 GetTempDietLogsSession()

            })*@

        $.ajax({
                type: "POST",
                  url: '@Url.Action("AddItemToSession", "HHApi_DietLog")',
                data: JSON.stringify(itemObj),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     console.log(data)
                     GetTempDietLogsSession()

                 },
                failure: function () {  }
            });




        })




        $(".mTagImg").on("click", (e) => {
            mealTagID = $(e.currentTarget).attr("data-ctgyID")
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMealsByTag", "HHApi_DietLog")?mealTagID=' + mealTagID +'&memberId='+@Model.MemberProfile.MemberID,  //todo
                contentType: "html"
            }).done(function (items) {
                glCurrMealTagID.ID = mealTagID
                $("#mealList").html(items)
               $("#hTagName").text($(e.currentTarget).parent().find("figcaption").html())
                $("#btnAllMeals").addClass("primary").siblings().removeClass("primary");
                //below btn and note reset
                $("#btnAllMeals").addClass("primary").siblings().removeClass("primary");
                $("#divBtnNoteAll").css("visibility", "visible").siblings().css("visibility", "hidden");
                //=========



            })
        })

            $("#searchText").click(() => {
                $("#btnAllMeals").addClass("primary").siblings().removeClass("primary");

                $("#divBtnNoteAll").css("visibility", "visible").siblings().css("visibility", "hidden");


})




            $("#searchText").keyup(() => {

            let keyword = $("#searchText").val();



            $('.divMealOpt').each(function (index, element)
            {

                    if ($(this).find(".mealInfoName").text().includes(keyword)) {

                        $(this).css("display", '')
                    } else { $(this).css("display", 'none') }


            })
        })



        //==============================


        @*function UpdateLikedCount() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetLikedList", "HHApi_DietLog")?memberId=' + @Model.MemberProfile.MemberID,  //.todo
                contentType: "html"
            }).done(function (datas) {
                //likedMeals = datas
                //likedMeals.forEach(function (item) {
                //    const opt = `<option value=${item.ID} >${item.Name}</option>`
                //    $("#likedListSelect").append(opt)
                $("#LikedCount").text("最愛: " + datas.length)

                })


        }*@

        $("#selSort").change(function () {

            const selectedSortId = $(this).find(":selected").val()
            let theClass = ""
            const highToLow = [1, -1]
            const lowToHigh = [-1, 1]
            let order;
            switch (selectedSortId) {
                case '1': //依卡路里含量排序: 低 -> 高
                    theClass = ".mealInfoCal";
                    order = lowToHigh;
                    break;
                case '2':  //依卡路里含量排序: 高 -> 低
                    theClass = ".mealInfoCal";
                    order = highToLow;
                    break;
                case '3': //依蛋白質含量排序: 低 -> 高
                    theClass = ".mealInfoProtein";
                    order = lowToHigh;
                    break;
                case '4': //依蛋白質含量排序: 高 -> 低
                    theClass = ".mealInfoProtein";
                    order = highToLow;
                    break;
                case '5': // 依碳水化合物含量排序: 低 -> 高
                    theClass = ".mealInfoCarbs";
                    order = lowToHigh;
                    break;
                case '6': // <option value=6 > 依碳水化合物含量排序: 高 -> 低</option >
                    theClass = ".mealInfoCarbs";
                    order = highToLow;
                    break;
                case '7': // <option value=7 > 依脂肪含量排序: 低 -> 高</option >
                    theClass = ".mealInfoFat";
                    order = lowToHigh;
                    break;
                case '8': // <option value=8 > 依脂肪含量排序: 高 -> 低</option >
                    theClass = ".mealInfoFat";
                    order = highToLow;
                    break;
            }
            console.log(theClass)
            console.log($('.divMealOpt').find(theClass))
            //大=>小
            var result = $('.divMealOpt').sort(function (a, b) {

                var contentA = parseInt($(a).find(theClass).text());
                var contentB = parseInt($(b).find(theClass).text());
                console.log(contentA)

                console.log(contentB)

                return (contentA < contentB) ? order[0] : (contentA > contentB) ? order[1] : 0;
            });

            $('#mealList').html(result);
        })



                 </script>
             }


