@model DTO.TagCategoryDetailDTO

@{
    ViewBag.Title = "AddMealTagCategory";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<section class="content-header">
    <h1>新增標籤</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>後臺頁面</a></li>
        <li class="breadcrumb-item"><a>飲食</a></li>
        <li class="breadcrumb-item"><a>所有標籤</a></li>
        <li class="breadcrumb-item active"><a>新增標籤</a></li>
    </ol>
</section>
<br />
<div class="row" style="margin-left:15px;margin-bottom:5px">
    <div  class="col-1">
        <button type="submit" class="btn btn-primary" id="demo_clear">DEMO_C</button>
    </div>
    <div  class="col-1">
        <button type="submit" class="btn btn-primary" id="demo">DEMO_DATA</button>
    </div>
</div>
<div style="margin-left:10px">
    @using (Html.BeginForm("AddMealTagCategory", "MealTagCategories", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-5">

                @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>標籤名稱：</label>
                <div class="col-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @id = "Name" })
                </div>
                <span id="sp_Name"></span>
            </div>


            <div class="form-group">
                <label>上傳照片</label>
                <input type="file" name="UpLoadImage" id="progressbarTWInput" accept="image/gif, image/jpeg, image/png" />
            </div>
            <div>
                <p>
                    預覽圖:
                </p>
                <img id="preview_progressbarTW_img" src="#" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="新增" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@section Scripts{
            @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            <script src="~/Areas/Admin/Content/JS/jquery.min.js"></script>*@
            <script>

                $("#progressbarTWInput").change(function () {

                    readURL(this);

                });
                function readURL(input) {

                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#preview_progressbarTW_img").attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $("#demo").click(function (event) {
                    $('#Name').val("泰式");
                    checkname();
                });
                $("#demo_clear").click(function (event) {
                    $('#Name').val("");
                    console.log($("#Name").val())
                    checkname();
                });

                ifNamePass = false;
         $("#Name").focusout(function () {
             var TagName = $("#Name").val();
             console.log(TagName);
            $.ajax({
                type: "GET",
                url: '@Url.Action("checkTagName", " MealTagCategories")?userInput=' + TagName,
                contentType:"html",
                //參數名稱/txt的內容
                success: function (result) {
                    if (result == "True") {
                        $("#sp_Name").text("此標籤名稱已存在").css("color", "red");
                        ifNamePass = false;
                        console.log(ifNamePass);
                    }
                    else if (TagName == "") {
                        $("#sp_Name").text("名稱不可為空白").css("color", "red");
                        ifNamePass = false;
                    }
                    else {
                        $("#sp_Name").text("此名稱可以使用").css("color","green");
                        ifNamePass = true;
                        console.log(ifNamePass);
                    }
                }
            })
         });
                 function checkname() {
             var tagName = $("#Name").val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("checkTagName", "MealTagCategories")?userInput=' + tagName,
                contentType:"html",
                //參數名稱/txt的內容
                success: function (result) {
                    if (result == "True") {
                        $("#sp_Name").text("標籤名稱已存在").css("color", "red");
                        ifNamePass = false;
                        console.log(ifNamePass);
                    }
                    else if (tagName=="") {
                        $("#sp_Name").text("標籤名稱不可為空白").css("color", "red");
                        ifNamePass = false;
                    }
                    else {
                        $("#sp_Name").text("此名稱可使用").css("color","green");
                        ifNamePass = true;
                        console.log("Name is OK"+ifNamePass);
                    }
                }
            })
        }
            </script>
         }

