@model DTO.MealDetailDTO

@{
    ViewBag.Title = "CreateMealWithTags";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<section class="content-header">
    <h1>更新餐點</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>後臺頁面</a></li>
        <li class="breadcrumb-item"><a>餐點</a></li>
        <li class="breadcrumb-item active"><a>更新餐點</a></li>
    </ol>
</section>
<br />
<div class="row">
    <div class="card-footer">
        <button type="submit" class="btn btn-primary" id="demo2" onclick="demo2">DEMO_C</button>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary" id="demo" onclick="demo">DEMO_DATA</button>
    </div>
</div>
@*<div class="card-footer">
    <button type="submit" class="btn btn-primary" id="check" onclick="check">check</button>
</div>*@

<div style="margin-left:10px">
    @using (Html.BeginForm("CreateMealWithTags", "Meal", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <form id="form">
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="form-group col-4">
                        <label>餐點名稱</label>
                        <div>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "Name" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @id = "Name" })
                        </div>
                        <span id="test"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label>卡路里</label>
                        <div>
                            @Html.EditorFor(model => model.Calories, new { htmlAttributes = new { @class = "form-control", @id = "Calories" } })
                            @Html.ValidationMessageFor(model => model.Calories, "", new { @class = "text-danger", @id = "Calories" })
                            <span id="sp_Calories"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label>餐點份量</label>
                        <div>
                            @Html.EditorFor(model => model.UnitName, new { htmlAttributes = new { @class = "form-control", @id = "UnitName" } })
                            @Html.ValidationMessageFor(model => model.UnitName, "", new { @class = "text-danger", @id = "UnitName" })
                        </div>
                        <span id="sp_Unitname"></span>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="form-group">
                    <label>餐點圖片</label>
                    <input type="file" name="MealOptionUpLoadImage" id="progressbarTWInput" accept="image/gif, image/jpeg, image/png" />
                </div>
                <div>
                    <p>
                        預覽圖:
                    </p>
                    <img id="preview_progressbarTW_img" src="#" />
                </div>

                <div class="form-group">
                    <label>標籤</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <div class="row col-5">
                                @{
                                    int countB = 0;
                                    foreach (var item in Model.DTags)
                                    {
                                        countB = countB + 1;
                                        if (countB == 5)
                                        {
                                            <br />
                                            countB = 0;
                                        }
                                        <div class="col-3">
                                            <input type="checkbox"
                                                   name="tags"
                                                   id="@item.Key"
                                                   value="@item.Key" />
                                            <label style="margin-left:5px">
                                                @item.Value
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        <label>脂肪</label>
                        <div>
                            @Html.EditorFor(model => model.Fat, new { htmlAttributes = new { @class = "form-control", @id = "Fat" } })
                            @Html.ValidationMessageFor(model => model.Fat, "", new { @class = "text-danger", @id = "Fat" })
                        </div>
                        <span id="sp_Fat"></span>
                    </div>

                    <div class="form-group col-3">
                        <label>蛋白質</label>
                        <div>
                            @Html.EditorFor(model => model.Protein, new { htmlAttributes = new { @class = "form-control", @id = "Protein" } })
                            @Html.ValidationMessageFor(model => model.Protein, "", new { @class = "text-danger", @id = "Protein" })
                        </div>
                        <span id="sp_Protein"></span>
                    </div>

                    <div class="form-group col-3">
                        <label>碳水化合物</label>
                        <div>
                            @Html.EditorFor(model => model.Carbs, new { htmlAttributes = new { @class = "form-control", @id = "Carbs" } })
                            @Html.ValidationMessageFor(model => model.Carbs, "", new { @class = "text-danger", @id = "Carbs" })
                        </div>
                        <span id="sp_Carbs"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        <label>糖</label>
                        <div>
                            @Html.EditorFor(model => model.Sugar, new { htmlAttributes = new { @class = "form-control", @id = "Sugar" } })
                            @Html.ValidationMessageFor(model => model.Sugar, "", new { @class = "text-danger", @id = "Sugar" })
                        </div>
                        <span id="sp_Sugar"></span>
                    </div>

                    <div class="form-group col-3">
                        <label>鈉</label>
                        <div>
                            @Html.EditorFor(model => model.Na, new { htmlAttributes = new { @class = "form-control", @id = "Na" } })
                            @Html.ValidationMessageFor(model => model.Na, "", new { @class = "text-danger", @id = "Na" })
                        </div>
                        <span id="sp_Na"></span>
                    </div>

                    <div class="form-group col-3" style="display:none">
                        <label>維生素A</label>
                        <div>
                            @Html.EditorFor(model => model.VitA, new { htmlAttributes = new { @class = "form-control", @id = "VitA" } })
                            @Html.ValidationMessageFor(model => model.VitA, "", new { @class = "text-danger", @id = "VitA" })
                        </div>
                    </div>

                    <div class="form-group col-3" style="display:none">
                        <label>維生素B</label>
                        <div>
                            @Html.EditorFor(model => model.VitB, new { htmlAttributes = new { @class = "form-control", @id = "VitB" } })
                            @Html.ValidationMessageFor(model => model.VitB, "", new { @class = "text-danger", @id = "VitB" })
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none">
                    <div class="form-group col-3">
                        <label>維生素C</label>
                        <div>
                            @Html.EditorFor(model => model.VitC, new { htmlAttributes = new { @class = "form-control", @id = "VitC" } })
                            @Html.ValidationMessageFor(model => model.VitC, "", new { @class = "text-danger", @id = "VitC" })
                        </div>
                    </div>

                    <div class="form-group col-3">
                        <label>維生素D</label>
                        <div>
                            @Html.EditorFor(model => model.VitD, new { htmlAttributes = new { @class = "form-control", @id = "VitD" } })
                            @Html.ValidationMessageFor(model => model.VitD, "", new { @class = "text-danger", @id = "VitD" })
                        </div>
                    </div>

                    <div class="form-group col-3">
                        <label>維生素E</label>
                        <div>
                            @Html.EditorFor(model => model.VitE, new { htmlAttributes = new { @class = "form-control", @id = "VitE" } })
                            @Html.ValidationMessageFor(model => model.VitE, "", new { @class = "text-danger", @id = "VitE" })
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none">
                    <div class="form-group col-3" style="display:none">
                        <label>鉀</label>
                        <div>
                            @Html.EditorFor(model => model.Potassium, new { htmlAttributes = new { @class = "form-control", @id = "K" } })
                            @Html.ValidationMessageFor(model => model.Potassium, "", new { @class = "text-danger", @id = "K" })
                        </div>
                    </div>

                    <div class="form-group col-3">
                        <label>鈣</label>
                        <div>
                            @Html.EditorFor(model => model.Calcium, new { htmlAttributes = new { @class = "form-control", @id = "Ca" } })
                            @Html.ValidationMessageFor(model => model.Calcium, "", new { @class = "text-danger", @id = "Ca" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-3" style="display:none">
                    <label>鐵</label>
                    <div>
                        @Html.EditorFor(model => model.Icon, new { htmlAttributes = new { @class = "form-control", @id = "Fe" } })
                        @Html.ValidationMessageFor(model => model.Icon, "", new { @class = "text-danger", @id = "Fe" })
                    </div>
                </div>
                @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="新增餐點" class="btn btn-default" onclick="formSubmit(this.form)" />
            </div>
        </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="新增餐點" class="btn btn-default" id="pass" />
                    </div>
                </div>
            </div>
        </form>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Areas/Admin/Content/JS/jquery.min.js"></script>
    <script>

        var ifNamePass = false;
        var ifCaloriesPass = false;
        var ifUnitnamePass = false;
        var ifFatPass = false;
        var ifNaPass = false;
        var ifCarbsPass = false;
        var ifSugarPass = false;
        var ifProteinPass = false;
    $("#progressbarTWInput").change(function () {

        readURL(this);

    });
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#preview_progressbarTW_img").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#demo").click(function (event) {
        $('#Name').val("烤地瓜");
        $('#Calories').val("288");
        $('#UnitName').val("條");
        $('#Fat').val("0.4");
        $('#Protein').val("3.2");
        $('#Carbs').val("69");
        $('#Sugar').val("12");
        $('#Na').val("128");
        checkname();
        checkUnitName();
        checkProtein();
        checkCarbs();
        checkSugar();
        checkNa();
        checkFat();
        checkCalories();
    });
        $("#demo2").click(function (event) {
            $('#Name').val("");
            $('#Calories').val("");
            $('#UnitName').val("");
            $('#Fat').val("");
            $('#Protein').val("");
            $('#Carbs').val("");
            $('#Sugar').val("");
            $('#Na').val("");
            checkname();
            checkUnitName();
            checkProtein();
            checkCarbs();
            checkSugar();
            checkNa();
            checkFat();
            checkCalories();
        });

        $("#Name").focusout(function () {
            var MealName = $("#Name").val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("checkMaelName", "Meal")?userInput=' + MealName,
                contentType:"html",
                //參數名稱/txt的內容
                success: function (result) {
                    if (result == "True") {
                        $("#test").text("餐點名稱已存在").css("color", "red");
                        ifNamePass = false;
                        console.log(ifNamePass);
                    }
                    else if (MealName == "") {
                        $("#test").text("餐點不可為空白").css("color", "red");
                        ifNamePass = false;
                    }
                    else {
                        $("#test").text("餐點名稱可使用").css("color","green");
                        ifNamePass = true;
                        console.log(ifNamePass);
                    }
                }
            })
        });
        $("#UnitName").focusout(function () {
            var UnitName = $("#UnitName").val();
                if (UnitName == "") {
                    $("#sp_Unitname").text("份量不可為空白").css("color", "red");
                    ifUnitnamePass = false;
                    console.log("Unit空白")
                }
                else {
                    $("#sp_Unitname").text("");
                    ifUnitnamePass = true;
                    console.log("Unit可用")
                }
        });

        var numberCheck = /[0-9]+/;
        //卡路里
        $("#Calories").focusout(function () {
            var Calories = $("#Calories").val();
            if (numberCheck.test(Calories)) {
                ifCaloriesPass = true;
                $("#sp_Calories").text("");
            }
            else if (Calories == "") {
                ifCaloriesPass = false;
                $("#sp_Calories").text("欄位不可為空白").css("color", "red");
            }
            else {
                ifCaloriesPass = false;
                $("#sp_Calories").text("請輸入數字").css("color", "red");
            }
        });
        //脂肪
        $("#Fat").focusout(function () {
            var Fat = $("#Fat").val();
            if (numberCheck.test(Fat)) {
                ifFatPass = true;
                $("#sp_Fat").text("");
            }
            else if (Fat == "") {
                ifFatPass = false;
                $("#sp_Fat").text("欄位不可為空白").css("color","red");
            }
            else {
                ifFatPass = false;
                $("#sp_Fat").text("請輸入數字").css("color", "red");
            }
        });
        //鈉
        $("#Na").focusout(function () {
            var Na = $("#Na").val();
            if (numberCheck.test(Na)) {
                ifNaPass = true;
                $("#sp_Na").text("");
            }
            else if (Na == "") {
                ifNaPass = false;
                $("#sp_Na").text("欄位不可為空白").css("color", "red");
            }
            else {
                ifNaPass = false;
                $("#sp_Na").text("請輸入數字").css("color", "red");
            }
        });
        //糖
        $("#Sugar").focusout(
            function () {
            var Sugar = $("#Sugar").val();
            if (numberCheck.test(Sugar)) {
                ifSugarPass = true;
                $("#sp_Sugar").text("");
            }
            else if (Sugar == "") {
                ifSugarPass = false;
                $("#sp_Sugar").text("欄位不可為空白").css("color", "red");
            }
            else {
                ifSugarPass = false;
                $("#sp_Sugar").text("請輸入數字").css("color", "red");
            }
            }
        );
        //碳水化合物
        $("#Carbs").focusout(function () {
            var Carbs = $("#Carbs").val();
            if (numberCheck.test(Carbs)) {
                ifCarbsPass = true;
                $("#sp_Carbs").text("");
            }
            else if (Carbs == "") {
                ifCarbsPass = false;
                $("#sp_Carbs").text("欄位不可為空白").css("color", "red");
            }
            else {
                ifCarbsPass = false;
                $("#sp_Carbs").text("請輸入數字").css("color", "red");
            }
        });
        //蛋白質
        $("#Protein").focusout(function () {
            var Protein = $("#Protein").val();
            if (numberCheck.test(Protein)) {
                ifCProteinPass = true;
                $("#sp_Protein").text("");
            }
            else if (Protein == "") {
                ifProteinPass = false;
                $("#sp_Protein").text("欄位不可為空白").css("color", "red");
            }
            else {
                ifProteinPass = false;
                $("#sp_Protein").text("請輸入數字").css("color", "red");
            }
        });
        //=====[ Submit ]===============================================
        $("#pass").click(function (event) {
            checkname();
            checkUnitName();
            checkProtein();
            checkCarbs();
            checkSugar();
            checkNa();
            checkFat();
            checkCalories();
            if (ifNamePass && ifCaloriesPass && ifUnitnamePass && ifFatPass && ifNaPass && ifCarbsPass && ifSugarPass && ifProteinPass) {
                    console.log("傳送");
                    $("form").submit();
                
            }
            else {
                console.log("不傳送");
            }
        })
        //======================================================
        function checkname() {
             var MealName = $("#Name").val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("checkMaelName", "Meal")?userInput=' + MealName,
                contentType:"html",
                //參數名稱/txt的內容
                success: function (result) {
                    if (result == "True") {
                        $("#test").text("餐點名稱已存在").css("color", "red");
                        ifNamePass = false;
                        console.log(ifNamePass);
                    }
                    else if (MealName=="") {
                        $("#test").text("餐點不可為空白").css("color", "red");
                        ifNamePass = false;
                    }
                    else {
                        $("#test").text("").css("color","green");
                        ifNamePass = true;
                        console.log("Name is OK"+ifNamePass);
                    }
                }
            })
        }
        function checkUnitName() {
            var UnitName = $("#UnitName").val();
            if (UnitName == "") {
                $("#sp_Unitname").text("份量不可為空白").css("color","red");
                ifUnitnamePass = false;
            }
            else {
                $("#sp_Unitname").text("");
                ifUnitnamePass = true;
                console.log("Unitname is OK"+ifUnitnamePass);
            }
        }
        function checkProtein() {
            var Protein = $("#Protein").val();
            if (numberCheck.test(Protein)) {
                ifProteinPass = true;
                $("#sp_Protein").text("");
                console.log("Protein is OK"+ifProteinPass);
            }
            else if (Protein == "") {
                ifProteinPass = false;
                $("#sp_Protein").text("欄位不可為空白").css("color", "red");
            }
            else {
                ifProteinPass = false;
                $("#sp_Protein").text("請輸入數字").css("color", "red");
            }
        }
        function checkCarbs() {
            var Carbs = $("#Carbs").val();
            if (numberCheck.test(Carbs)) {
                ifCarbsPass = true;
                $("#sp_Carbs").text("");
                console.log("Carbs is OK"+ifCarbsPass);
            }
            else if (Carbs == "") {
                ifCarbsPass = false;
                $("#sp_Carbs").text("欄位不可為空白").css("color", "red");
            }
            else {
                ifCarbsPass = false;
                $("#sp_Carbs").text("請輸入數字").css("color", "red");
            }
        }
        function checkNa() {
            var Na = $("#Na").val();
            if (numberCheck.test(Na)) {
                ifNaPass = true;
                $("#sp_Na").text("");
                console.log("Na is OK"+ifNaPass);
            }
            else if (Na == "") {
                ifNaPass = false;
                $("#sp_Na").text("欄位不可為空白").css("color", "red");
            }
            else {
                ifNaPass = false;
                $("#sp_Na").text("請輸入數字").css("color", "red");
            }
        }
        function checkSugar() {
            var Sugar = $("#Sugar").val();
            if (numberCheck.test(Sugar)) {
                ifSugarPass = true;
                $("#sp_Sugar").text("");
                console.log("Sugar is OK"+ifSugarPass);
            }
            else if (Sugar == "") {
                ifSugarPass = false;
                $("#sp_Sugar").text("欄位不可為空白").css("color", "red");
            }
            else {
                ifSugarPass = false;
                $("#sp_Sugar").text("請輸入數字").css("color", "red");
            }
        }
        function checkFat() {
            var Fat = $("#Fat").val();
            if (numberCheck.test(Fat)) {
                ifFatPass = true;
                $("#sp_Fat").text("");
                console.log("Fat is OK"+ifFatPass);
            }
            else if (Fat == "") {
                ifFatPass = false;
                $("#sp_Fat").text("欄位不可為空白").css("color", "red");
            }
            else {
                ifFatPass = false;
                $("#sp_Fat").text("請輸入數字").css("color", "red");
            }
        }
        function checkCalories() {
            var Calories = $("#Calories").val();
            if (numberCheck.test(Calories)) {
                ifCaloriesPass = true;
                $("#sp_Calories").text("");
                console.log("Calories is OK"+ifCaloriesPass);
            }
            else if (Calories == "") {
                ifCaloriesPass = false;
                $("#sp_Calories").text("欄位不可為空白").css("color", "red");
            }
            else {
                ifCaloriesPass = false;
                $("#sp_Calories").text("請輸入數字").css("color", "red");
            }
        }





        //document.addEventListener("DOMContentLoaded", function () {
        //    document.getElementById("Name").addEventListener("blur", checkname);
        //});
        //function checkname() {
        //    let nameObj = document.getElementById("Name");
        //    let nameObjVal = nameObj.val;

        //}


    </script>
}