@model DTO.MealDetailDTO

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<section class="content-header">
    <h1>更新餐點</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>後臺頁面</a></li>
        <li class="breadcrumb-item"><a>餐點</a></li>
        <li class="breadcrumb-item active"><a>更新餐點</a></li>
    </ol>
</section>
<br />

@using (Html.BeginForm("Update", "Meal", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Calories, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Calories, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Calories, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @* @Html.LabelFor(model => model.MealOptionImage, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label>現在圖片：</label>
        <div class="col-md-10">
            <img src="~/Areas/Admin/Content/MealOptionImages/@Model.MealOptionImage" name="NowImage" />
            @*@Html.EditorFor(model => model.MealOptionImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MealOptionImage, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        @* @Html.LabelFor(model => model.MealOptionImage, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label>更新圖片：</label>
        <input type="file" name="MealOptionUpLoadImage" id="progressbarTWInput" accept="image/gif, image/jpeg, image/png" />
        <div class="col-md-10">
            <img id="preview_progressbarTW_img" src="#" />
            @*@Html.EditorFor(model => model.MealOptionImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MealOptionImage, "", new { @class = "text-danger" })*@
        </div>
    </div>
   

    <div class="form-group">
        @Html.LabelFor(model => model.UnitName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UnitName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="儲存變更" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Areas/Admin/Content/JS/jquery.min.js"></script>
<script>

    $("#progressbarTWInput").change(function () {

        readURL(this);

    });
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#preview_progressbarTW_img").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
            console.log()
        }
    }

</script>
