@model UI.ViewModels.DietLogsHistoryViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" integrity="sha512-3q8fi8M0VS+X/3n64Ndpp6Bit7oXSiyCnzmlx6IDBLGlY5euFySyJ46RUlqIVs0DPCGOypqP8IRk/EyPvU28mQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #sliderNode .slider-handle {
            background: #f56a6a;
        }
    </style>

}
<header style="background-color: #fff0f0; width: 100%; padding-right: 0px " class="pt-5 pb-1 m-0 col-12">
    <div class="row" style="width: 100%; padding-right: 20px">

        <div class="col-3 col-sm-3 col-lg-2 p-2 p-0" style="text-align:center">
            <a href="~/Home2/Index"><img src="~/Areas/Admin/Content/tempimage/hLogoRed.jpg" style="max-width:90px;width:100%"></a>
        </div>
        <div class="col-8 col-sm-7 col-lg-8 p-1 align-self-center">
            <h2 style="font-size:1.8em"><i class="fas fa-history" style="width:30px"></i> 飲食歷史</h2>
        </div>

    </div>
</header><header id="header" class="m-0 p-0"></header>

         <section class="pt-2 pb-5">


             @*<i class="fa-solid fa-mug-saucer"></i>*@

             <div class="row my-4">
                 <div class="col-1  ">
                     <span class="h4" style="color:#f56a6a">日期拉軸</span>
                 </div>
                 <div class="col-7  ">
                     <input style="width:100%" id="ex6" type="text" data-slider-min="-30" data-slider-id="sliderNode" data-slider-max="0" data-slider-step="1" data-slider-value="0" data-slider-handle="square" />

                 </div>


                 <div class="col-2 ">
                     <input type="button" id="btnToday" value="今日紀錄" class="btn btn-default fit" />
                 </div>

                 <div class="col-2 ">
                     <input type="button" id="makePDF" value="下載菜單" class="btn btn-default fit" />
                 </div>

             </div>

             <div id="mainRecord" class=" bg-white p-3 py-4  mb-5 " style="bottom: 0; border-radius: 0.9em; box-shadow: 5px 5px 30px #E0E0E0 ">
                 <div class="d-flex justify-content-between mb-3">
                     <input type="button" id="btnPrevDay" value="<" class="btn btn-default" />

                     <h1 id="titleCurrDate" style="display:inline">@Model.Date 飲食綜合紀錄</h1>


                     <input type="button" id="btnNextDay" value=">" class="btn btn-default" />

                 </div>
                 <div class="row  pb-3 mt-4" style="height: 700px;">
                     <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height: 650px; width: 450px; margin: auto ">

                         @*height: 400px*@
                         <h3 style="text-align: center;   border-bottom: #f56a6a 2px solid">本日吃多?少?</h3>


                         <ul class="list-group list-group-flush" id="ulTODGained">
                             <li class="list-group-item border-0">
                                 <div class="shadow-sm p-3  bg-white rounded">全天: <span id="spanTotalCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.AllDayGained</span> 大卡,比平常攝取多/少 <span id="spanTotalCalRate" class=" h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.AllDayGainedGrowthRate%</span></div> @*mb-5*@
                             </li>
                             <li class="list-group-item border-0">
                                 <div class="shadow-sm p-3  bg-white rounded">早餐: <span class="spanTodCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.TODGaineds[0]</span> 大卡,比平常攝取多/少 <span class="spanTodCalRate h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.TODGainedGrowthRates[0]%</span></div> @*mb-5*@
                             </li>
                             <li class="list-group-item border-0">
                                 <div class="shadow-sm p-3  bg-white rounded">午餐: <span class="spanTodCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.TODGaineds[1]</span> 大卡,比平常攝取多/少 <span class="spanTodCalRate h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.TODGainedGrowthRates[1]%</span></div> @*mb-5*@
                             </li>
                             <li class="list-group-item border-0">
                                 <div class="shadow-sm p-3  bg-white rounded">點心: <span class="spanTodCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.TODGaineds[2]</span> 大卡,比平常攝取多/少 <span class="spanTodCalRate h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.TODGainedGrowthRates[2]%</span></div> @*mb-5*@
                             </li>
                             <li class="list-group-item border-0">
                                 <div class="shadow-sm p-3  bg-white rounded">晚餐: <span class="spanTodCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.TODGaineds[3]</span> 大卡,比平常攝取多/少 <span class="spanTodCalRate h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.TODGainedGrowthRates[3]%</span></div> @*mb-5*@
                             </li>
                             <li class="list-group-item border-0">
                                 <div class="shadow-sm p-3  bg-white rounded">宵夜: <span class="spanTodCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.TODGaineds[4]</span> 大卡,比平常攝取多/少 <span class="spanTodCalRate h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.TODGainedGrowthRates[4]%</span></div> @*mb-5*@
                             </li>

                         </ul>
                     </div>
                     <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height:650px;width: 450px; margin: auto">

                         <h3 style="text-align: center;  border-bottom: #f56a6a 2px solid">周周多喝水</h3>

                         <canvas class="pb-5" id="WaterLine"></canvas>
                     </div>
                     <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height: 650px; width: 450px; margin: auto ">

                         @*height: 400px*@
                         <h3 style="text-align: center;  border-bottom: #f56a6a 2px solid">綜觀表現</h3>
                         <ul class="list-group list-group-flush" id="ulGeneralPfmc">
                             <li class="list-group-item border-0">
                                 <div class="shadow-sm p-3  bg-white rounded"><span id="spanProNameOrDaily">@Model.MemberHealthProfile.GeneralPerformances.ProgramNameOrDailyLog</span>挑戰: <span id="spanIsDailySuccess" class="h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GeneralPerformances.IsSuccessDay[0]</span> <span id="spanIsDailySuccessComment">@Model.MemberHealthProfile.GeneralPerformances.IsSuccessDay[1]</span></div> @*mb-5*@
                             </li>
                             <li class="list-group-item border-0">
                                 <div class="shadow-sm p-3  bg-white rounded">
                                     體重: <span id="spanCurrWeight" style="color:#f56a6a">@Model.MemberHealthProfile.GeneralPerformances.CurrentWeight</span> 公斤,跟7天前比較<span class="h2" style="color:#f56a6a; font-style:italic" id="spanWeightComment">@Model.MemberHealthProfile.GeneralPerformances.WeightComment</span>
                                     <span id="spanWeightUpOrDown">
                                         @{
                                             if (Model.MemberHealthProfile.GeneralPerformances.WeightChange != 0)
                                             {
                                                 <i>(@Model.MemberHealthProfile.GeneralPerformances.WeightChange kg)</i>
                                             }


                                         }


                                     </span>
                                 </div>

                             </li>
                             <li class="list-group-item border-0">
                                 <div class="shadow-sm p-3  bg-white rounded">過去7天飲食省下了: <span class="h2" id="spanCalSavedFromLastWeek" style="color:#f56a6a">@Model.MemberHealthProfile.GeneralPerformances.CalSavedFromLastWeek</span> 大卡,相當於<span class="spanRiceBowlsCount h2" id="spanRiceBowlComment" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GeneralPerformances.CalCommentFromLastWeek</span><img src="~/Content/Images/Infography/riceBowlImg2.jpg" width="80" /></div> @*mb-5*@
                             </li>
                             <li class="list-group-item border-0">

                                 <div class="shadow-sm p-3  bg-white rounded">過去7天運動消耗了: <span class="h2" id="spanPast7DaysWorkoutBurnedCals" style="color:#f56a6a">@Model.MemberHealthProfile.GeneralPerformances.Past7DaysWorkoutBurnedCals</span> 大卡,相當於 <span class="h2" id="spanRiceBowlCommentBURN" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GeneralPerformances.BurnedCalCommentFromLastWeek</span><img src="~/Content/Images/Infography/riceBowlImg2.jpg" width="80" /></div>
                             </li>
                             <li class="list-group-item border-0">
                                 <div class="shadow-sm p-3  bg-white rounded">鈉攝取: <span id="spanTotalNa" style="color:#f56a6a">@Model.MemberHealthProfile.GeneralPerformances.GainedNa</span>(衛生署食品衛生處建議成人每日鈉總攝取量不要超過2400毫克)</div> @*mb-5*@
                             </li>

                         </ul>
                     </div>
                 </div>

                 <div class="row pb-3 mt-4 ">
                     <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height: 480px; width: 450px; margin: auto">
                         <h3 style="text-align: center;  border-bottom: #f56a6a 2px solid">暴飲暴食?</h3>

                         <canvas class=" pb-md-5" id="Nearby7DayBarID"></canvas>
                     </div>
                     <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height: 480px; width: 450px; margin: auto ">
                         <h3 style="text-align: center;  border-bottom: #f56a6a 2px solid">飲食時段分配圖</h3>

                         <canvas id="CalRadarID"></canvas>
                     </div>
                     <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height: 480px; width: 450px; margin: auto ">
                         <h3 style="text-align: center;  border-bottom: #f56a6a 2px solid">營養攝取分配圖</h3>

                         <canvas id="NutritionRadarID"></canvas>
                     </div>
                 </div>



                 <div class="mt-5">
                     <table class="table" id="dietLogHistoryTb">
                         <thead>
                             <tr>
                                 <th>
                                     餐點圖片
                                 </th>

                                 <th>
                                     時段
                                 </th>
                                 <th>
                                     餐點名稱
                                 </th>
                                 <th>
                                     每單位卡路里(單位: 大卡)
                                 </th>
                                 <th>
                                     單位名稱
                                 </th>
                                 <th>
                                     份量
                                 </th>
                                 <th>
                                     總卡路里
                                 </th>


                                 @{ if (Model.NeedDeleteEditOpts == true)
                                     {
                                         <th>

                                         </th>
                                     }
                                 }

                             </tr>
                         </thead>
                         <tbody>
                             @foreach (var item in Model.DietLogsOfTheDate)
                             {
                                 <tr data-dietLogId="@item.ID" data-IsCustomeUploaded="@item.IsCustomUploaded ">
                                     <td class="mealImg">

                                         @{
                                             if (item.IsCustomUploaded == true)
                                             {
                                                 <img src="~/Content/Images/CustomerMealUploadImages/@item.MealImage" width="108" height="85">

                                             }
                                             else
                                             {
                                                 <img src="~/Content/Images/MealOptionImages/@item.MealImage" width="108" height="85">

                                             }
                                         }
                                     </td>
                                     @*<td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>*@
                                     <td>
                                         @Html.DisplayFor(modelItem => item.TimesOfDayName)
                                     </td>
                                     <td class="mealName">
                                         @Html.DisplayFor(modelItem => item.MealName)
                                     </td>
                                     <td class="mealCal">
                                         @Html.DisplayFor(modelItem => item.MealCal)

                                     </td>
                                     <td class="mealUnitName">
                                         @Html.DisplayFor(modelItem => item.MealUnitName)
                                     </td>
                                     <td class="portion">
                                         @Html.DisplayFor(modelItem => item.Portion)
                                     </td>
                                     <td>
                                         @(item.MealCal * item.Portion)
                                     </td>

                                     <td>
                                         @*<input type="button" style="display: inline" value="修改" class="btn btn-default btnEditDietLog" />*@
                                         <input type="button" class="btn btn-default btnEditDietLog" data-toggle="modal" data-target=".bd-example-modal-sm" value="修改">

                                         <input type="button" style="display: inline" value="刪除" class="btn btn-default btnDeleteDietLog" />
                                     </td>
                                 </tr>
                             }
                         </tbody>
                     </table>
                 </div>
             </div>


         </section>


    <div class="modal fade bd-example-modal-sm" tabindex="-1" id="editModal" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">修改飲食紀錄嗎?</h4>
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="X" />
                </div>
                <div class="modal-body">
                    <img id="modalImg" src="" style="width:100%" />
                    <label for="modalMealName" class="col-form-label">餐點名稱: </label><span id="modalMealName"></span>
                    <br />
                    <label for="modalMealCal" class="col-form-label">每單位卡路里: </label><span id="modalMealCal"></span>/<span id="modalMealUnit"></span>

                    <form name="editDietLog">
                        <input type="hidden" id="DietLogID" name="DietLogID" value="" />
                        <input type="hidden" id="IsCustomUploaded" name="IsCustomUploaded" value="" />
                        <div class="form-group">
                            <label for="TimeOfDayID" class="col-form-label">時段:</label>
                            @*<select class="tempTimeOfDay">*@
                            @Html.DropDownList("TimeOfDayID", Model.TimesOfDayForDropDown)
                            @*</select>*@


                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">份量:</label>
                            <input type="number" id="numPortion" name="Portion" min="0" max="30" />
                        </div>
                    </form>
                    <label for="modalMealTotal" class="col-form-label">總卡路里: </label><span id="modalMealTotal" style="color:#f56a6a"></span>大卡

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn  btn-default fit" id="btnEditDietLogConfirm" value="確定" />
                </div>
            </div>
        </div>
    </div>




    <div id="editDoneModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                    <img src="~/Content/Images/loadingDots.gif" />

                </div>
                <div class="modal-footer">
                    @* <input type="button" value="確定" class="btn btn-default fit" onclick="function CloseThisModal(){$('#editDoneModal').modal('hide')};CloseThisModal()" />*@

                </div>
            </div>
        </div>

    </div>

    @section Scripts{
        <script src="https://kit.fontawesome.com/39a9c6cfd5.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="~/Content/js/chart.min.js"></script>
        <script src="~/Content/js/chartjs-plugin-datalabels.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" referrerpolicy="no-referrer"></script>
        <script>
        var Nearby7DayBarChart = null;
        var WaterLineChar = null;
        var NutritionRadarChart = null;
        var CalRadarChart = null;


            var todGainedCalsPer = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.GainedCalDatas.TODPercents))';
            var todGainedCalsPerArr = JSON.parse(todGainedCalsPer);
            var tODPriorAvgPer = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.GainedCalDatas.TODPriorAvgPercents))';
            var tODPriorAvgPerArr = JSON.parse(tODPriorAvgPer);
            //----------------
            var gainedNutritionsPer = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.GainedNutritionDatas.GainedNutritionsPercents))';
            var gainedNutritionsPerArr = JSON.parse(gainedNutritionsPer);
            var suggestedNutritionRanges = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.GainedNutritionDatas.SuggestedNutritionsPercents))';
            var suggestedNutritionRangesArr = JSON.parse(suggestedNutritionRanges);
            //----------------
        var GetNearby7DaysGainedCal = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.GetNearby7DaysGainedCal))';
        var GetNearby7DaysGainedCalArr = JSON.parse(GetNearby7DaysGainedCal);

            //----------------
            var WeeklyWaterLogSuggestedRanges = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.WaterLogDatas.WeeklyWaterLogSuggestedRanges))';
            var WeeklyWaterLogSuggestedRangesArr = JSON.parse(WeeklyWaterLogSuggestedRanges);
            var WeeklyWaterLogGaineds = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.WaterLogDatas.WeeklyWaterLogGaineds))';
            var WeeklyWaterLogGainedsArr = JSON.parse(WeeklyWaterLogGaineds);
             //----------------
            var GetNearbyWeekDays = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.GetNearbyWeekDays))';
            var GetNearbyWeekDaysArr = JSON.parse(GetNearbyWeekDays);

            //UpdateGeneralPerformanceList(data.GeneralPerformances)


        var slider = new Slider("#ex6", {
            formatter: function (value) {
                const today = new Date();
                const theDate = new Date();
                // Add 1 Day
                theDate.setDate(today.getDate() + value);


                return theDate.toISOString().substring(0, 10);
            }
        });
        slider.on("slideStop", function (sliderValue) {

            glCurrDaysToAdd.Val = sliderValue
        });

         //=================================



        //====================================================================



        //====================================================================


        //========================








        var glCurrDaysToAdd = {
            value: 0,
            letMeKnow() {
                $('#editDoneModal .modal-title').text('資料載入中...')

                $('#editDoneModal').modal('show')

                GetDateDietLogsByDateAjex(this.Val, null)
                slider.setValue(this.value)

            },
            get Val() {
                return this.value;
            },
            set Val(value) {
                if (value >= 0) {
                    value = 0;
                }
                this.value = value;
                this.letMeKnow();
            }
        }

            var glCurrDate = @Model.Date ;   //todo

        function SetViewDefault() {
            $('#datepicker').val("")
        }

        $("#btnQuery").click(function () {

            const keyword = $("#txtQuery").val()

            $.ajax({
                type: "GET",
                url: '@Url.Action("QueryByMealKeyword", "HHApi_DietLog")?mealNameKeyword=' + keyword,
                contentType: "html",
                success: function (result) {

                    const frag = document.createDocumentFragment();
                    $.each(result, (index, value) => {
                        const cell1 = document.createElement('td')

                        const imgEle = document.createElement('img')
                        imgEle.setAttribute("src", `~/Content/Images/MealOptionImages/${value.MealImagePath}`)
                        imgEle.setAttribute("width", "108")
                        imgEle.setAttribute("height", "85")
                        cell1.appendChild(imgEle)

                        const cell2 = document.createElement('td')
                        const txt2 = document.createTextNode(value.Date)
                        cell2.appendChild(txt2)

                        const cell3 = document.createElement('td')
                        const txt3 = document.createTextNode(value.TimeOfDayID)
                        cell3.appendChild(txt3)

                        const cell4 = document.createElement('td')
                        const txt4 = document.createTextNode(value.MealName)
                        cell4.appendChild(txt4)

                        const cell5 = document.createElement('td')
                        const txt5 = document.createTextNode(value.MealCal)
                        cell5.appendChild(txt5)

                        const cell6 = document.createElement('td')
                        const txt6 = document.createTextNode(value.MealUnitName)
                        cell6.appendChild(txt6)

                        const cell7 = document.createElement('td')
                        const txt7 = document.createTextNode(value.Portion)
                        cell7.appendChild(txt7)

                        const cell8 = document.createElement('td')
                        const txt8 = document.createTextNode(value.TotalGainedCalOfMeal)
                        cell8.appendChild(txt8)

                        const cell9 = document.createElement('td')
                        const txt9 = document.createTextNode(value.IsValid)
                        cell9.appendChild(txt9)

                        const tr = document.createElement('tr')
                        tr.appendChild(cell1)
                        tr.appendChild(cell2)
                        tr.appendChild(cell3)
                        tr.appendChild(cell4)
                        tr.appendChild(cell5)
                        tr.appendChild(cell6)
                        tr.appendChild(cell7)
                        tr.appendChild(cell8)
                        tr.appendChild(cell9)
                        frag.appendChild(tr);


                    })

                    $("#dietLogHistoryTb tbody").html(frag)

                    }

            })


    })

        //==========================
        // if last or first record then disable the <, >btns

        $(document).ready(() => {

            BindingDietLogListJSEvent()

            Chart.defaults.font.size = 16;

        })

            $("#btnEditDietLogConfirm").on("click", (e) => {



             const formData = new FormData(document.editDietLog)

            fetch('@Url.Action("EditDietLogByID", "HHApi_DietLogsHistory")', {
                method: "POST",
                body: formData
            }).then(response => response.text()).then(data => {
                glCurrDaysToAdd.letMeKnow()
            }).catch(err => console.log(err))
                console.log($(e.currentTarget))
                $('#editModal').modal('hide')

                $('#editDoneModal .modal-title').text('資料修改中...')

                $('#editDoneModal').modal('show')


            })

        function BindingDietLogListJSEvent() {
            CalRadarChart = null;
             CalRadarChart = new Chart(document.getElementById('CalRadarID').getContext('2d'), {
                type: 'radar',
                data: {
                    labels: ['早餐', '午餐', '點心', '晚餐', '宵夜'],
                    datasets: [{
                        label: '本日攝取',
                        data: todGainedCalsPerArr,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)'
                        ],
                        borderWidth: 1
                    },
                    {
                        label: '平日攝取平均',
                        data: tODPriorAvgPerArr,
                        backgroundColor: [
                            "rgba(122, 122, 122,0.1)",

                        ],
                        borderColor: [
                            "rgba(122, 122, 122,0.1)",
                        ],
                        borderWidth: 1
                    }]
                },
                options: {

                    scales: {
                        r: {
                            pointLabels: {
                                font: {
                                    size: 16,
                                },
                            },
                            min: 0,
                            max: 70,

                        },


                    }
                },

                //options: {

                //    responsive: true,

                //    scale: {
                //        min: 0,
                //        max: 60,

                //    },

                //},



            });
            NutritionRadarChart = null;

            NutritionRadarChart = new Chart(document.getElementById('NutritionRadarID').getContext('2d'), {
                type: 'radar',
                data: {
                    labels: ['蛋白質', '碳水化合物', '脂肪'/*, '糖份', '鈉'*/],
                    datasets: [{
                        label: '建議攝取範圍',
                        data: suggestedNutritionRangesArr,
                        backgroundColor: [
                            'rgba(100, 100, 100, 0.1)'
                        ]
                        ,
                        borderColor: [
                            'rgba(112, 112, 112, 1)'
                        ],
                        borderWidth: 0.1
                    },
                    {
                        label: '本日攝取',
                        data: gainedNutritionsPerArr,
                        backgroundColor: [
                            'rgba(252, 223, 32, 0.3)'
                        ],
                        borderColor: [
                            'rgba(252, 223, 32, 1)'
                        ],
                        borderWidth: 2
                    },
                    ]
                },

                options: {
                    responsive: true,

                    scales: {
                        r: {
                            pointLabels: {
                                font: {
                                    size: 16,
                                },
                            },
                            min: 0,
                            max: 60,

                        },


                    }
                },


            });

            //var Nearby7DayBarEle = document.getElementById('Nearby7DayBarID');
            WaterLineChar = null;

            WaterLineChar = new Chart(document.getElementById('WaterLine').getContext('2d'), {
                type: 'line',
                data: {
                    labels: ['一', '二', '三', '四', '五', '六', '日'],    /*周*/
                    datasets: [{
                        label: '建議上下限(單位: 毫升)',
                        data: WeeklyWaterLogSuggestedRangesArr[0],
                        backgroundColor: [
                            "rgba(220,220,220,0.3)"

                        ],
                        borderColor: [
                            'rgba(220,220,220,0)',
                        ],
                        fill: true,
                        lineTension: 0.5,
                        radius: 0
                    },
                    {
                        label: '總攝水量(單位: 毫升)',
                        data: WeeklyWaterLogGainedsArr,
                        fill: true,
                        lineTension: 0.5,
                        radius: 0,
                        backgroundColor: [
                            "rgba(0, 76, 153,0.3)"

                        ],
                        borderColor: [
                            'rgba(0, 89, 179,1)',
                        ],
                        borderWidth: 3
                    },
                    {
                        label: '建議上限(單位: 毫升)',
                        data: WeeklyWaterLogSuggestedRangesArr[1],
                        backgroundColor: [
                            "rgba(220,220,220,0.3)"

                        ],
                        borderColor: [
                            'rgba(220,220,220,0)',
                        ],
                        fill: true,
                        lineTension: 0.5,
                        radius: 0,

                        //borderWidth: 1
                    }

                    ]
                },

                options: {

                    responsive: true,
                    maintainAspectRatio: false,

                    scales: {
                        y: {
                            display: false
                        },
                          x: {
                            grid: { color: "rgba(122, 122, 122,0)" },
                        }
                    }
                },


            });
            Nearby7DayBarChart = null;

            Nearby7DayBarChart = new Chart(document.getElementById('Nearby7DayBarID'), {
                type: 'bar',
                data: {
                    labels: GetNearbyWeekDaysArr,
                    datasets: [{
                        label: '近七日熱量攝取(單位: 大卡)',
                        data: GetNearby7DaysGainedCalArr,
                        backgroundColor: [
                            'rgba(112, 112, 112, 0.1)',
                            'rgba(112, 112, 112, 0.1)',
                            'rgba(112, 112, 112, 0.1)',
                            'rgba(60, 120, 0, 0.2)',
                            'rgba(112, 112, 112, 0.1)',
                            'rgba(112, 112, 112, 0.1)',
                            'rgba(112, 112, 112, 0.1)',


                        ],
                        borderColor: [
                            'rgba(112, 112, 112, 1)',
                            'rgba(112, 112, 112, 1)',
                            'rgba(112, 112, 112, 1)',
                            'rgba(60, 120, 0, 1)',
                            'rgba(112, 112, 112, 1)',
                            'rgba(112, 112, 112, 1)',
                            'rgba(112, 112, 112, 1)'],
                        borderWidth: 1
                    }]
                },

                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            display: false,
                           },
                        x: {
                            grid: { color: "rgba(122, 122, 122,0)" },
                            }
                    }
                },


            });


            $("#btnNextDay").click(() => {
                glCurrDaysToAdd.Val += 1;
            })

            $("#btnPrevDay").click(() => {
                glCurrDaysToAdd.Val -= 1;
            })

            $("#btnToday").click(() => {
                if (glCurrDaysToAdd.Val === 0) { return; }
                glCurrDaysToAdd.Val = 0;
            })

            $(".btnDeleteDietLog").on("click", (e) => {
                let currRow = $(e.currentTarget).closest("tr")
                let dietLogId = currRow.attr("data-dietLogId")
                let IsCustomUploaded = currRow.attr("data-IsCustomeUploaded")

                if (confirm("確定要刪除此筆紀錄嗎")) {
                    fetch('@Url.Action("DeleteDietLogByID", "HHApi_DietLogsHistory")?dietLogId=' + dietLogId + "&IsCustomUploaded=" + IsCustomUploaded, {
                        method: "GET",
                     }).then(response => response.text()).then(() => {
                         glCurrDaysToAdd.letMeKnow()
                     }).catch(err => console.log(err))
                    currRow.remove()
                    $('#editDoneModal .modal-title').text('資料刪除中...')

                    $('#editDoneModal').modal('show')

                }
            })


            $("#makePDF").on("click", () => {

                var element = document.getElementById('dietLogHistoryTb');



                var opt = {
                    margin: 1,
                    filename: 'myfile.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };

                html2pdf().set(opt).from(element).save();
            })
            $(".btnEditDietLog").on("click", (e) => {
                let currRow = $(e.currentTarget).closest("tr")
                let dietLogId = currRow.attr("data-dietLogId")
                let IsCustomUploaded = currRow.attr("data-IsCustomeUploaded")

                let mealName = currRow.find('.mealName').text()
                let portion = currRow.find('.portion').text()
                let mealCal = currRow.find('.mealCal').text()
                let mealUnitName = currRow.find('.mealUnitName').text()
                let mealImgPath = currRow.find('.mealImg>img').attr("src")
                $('#modalImg').attr("src", mealImgPath)
                $('#DietLogID').val(dietLogId)
                $('#IsCustomUploaded').val(IsCustomUploaded)
                $('#modalMealName').text(mealName)
                $('#modalMealCal').text(mealCal)
                $("#modalMealUnit").text(mealUnitName)
                $('#numPortion').val(parseFloat(portion))
                $('#modalMealTotal').text(parseInt(mealCal)* parseFloat(portion))

            })

        }

        $('#numPortion').change(() => {
            let x = parseInt($('#modalMealCal').text())
            let y = $('#numPortion').val()

            $('#modalMealTotal').text(x * y)


        })



            function GetDateDietLogsByDateAjex(flagAmount, date) {

                //$("#titleCurrDate").html('<img src="/Content/Images/loadingDots.gif" height="100" />')


            fetch('@Url.Action("GetDateDietLogsByDateFlag", "HHApi_DietLogsHistory")?memberId=' +@Model.MemberID+'&flagAmount=' + flagAmount + '&date=' + date, {
                    method: "GET",
            }).then(response => response.text()).then(data => {

                $("#mainRecord").html(data)  //load partial


                BindingDietLogListJSEvent();

               //let nearby7DaysGainedCal = JSON.parse($("#hiddenGetNearby7DaysGainedCal").val())
               // console.log(nearby7DaysGainedCal)


                //GetCalRadar(CalRadarChart, JSON.parse($("#hiddenTODPercents").val()), JSON.parse($("#hiddenTODPriorAvgPercents").val()))
                //GetNutritionRadar(NutritionRadarChart, JSON.parse($("#hiddenGainedNutritionsPercents").val()))


                GetNearby7DaysBars(Nearby7DayBarChart, GetNearby7DaysGainedCalArr, GetNearbyWeekDaysArr)

                GetWeeklyWaterLogsChart(WaterLineChar, WeeklyWaterLogGainedsArr, WeeklyWaterLogSuggestedRangesArr[0], WeeklyWaterLogSuggestedRangesArr[1])
                GetNutritionRadar(NutritionRadarChart, gainedNutritionsPerArr)
                GetCalRadar(CalRadarChart, todGainedCalsPerArr, tODPriorAvgPerArr)
                $('#editDoneModal').modal('hide')

                 })
        }

            @*function UpdateShownHealthProfile(date) {
                 fetch('@Url.Action("GetHealthProfileByDate", "HHApi_DietLogsHistory")?memberId=' +@Model.MemberID+'&date=' + date, {
                    method: "GET",
                 }).then(response => response.json()).then(data => {

                     GetCalRadar(CalRadarChart, data.GainedCalDatas.TODPercents, data.GainedCalDatas.TODPriorAvgPercents )
                     GetNutritionRadar(NutritionRadarChart, data.GainedNutritionDatas.GainedNutritionsPercents)
                     GetNearby7DaysBars(Nearby7DayBarChart, data.GetNearby7DaysGainedCal, data.GetNearbyWeekDays)
                     GetWeeklyWaterLogsChart(WaterLineChar, data.WaterLogDatas)
                     UpdateTODGainedList(data.GainedCalDatas)
                     UpdateGeneralPerformanceList(data.GeneralPerformances)


                 })

            }*@





            function UpdateGeneralPerformanceList(datas)
            {
                $("#ulGeneralPfmc #spanProNameOrDaily").text(datas.ProgramNameOrDailyLog)
                $("#ulGeneralPfmc #spanCurrWeight").text(datas.CurrentWeight)
                if (datas.WeightChange != 0) {
                    $("#ulGeneralPfmc #spanWeightUpOrDown").text(`(${datas.WeightChange}kg)`)
                } else {
                    $("#ulGeneralPfmc #spanWeightUpOrDown").text("")
                }
                $("#ulGeneralPfmc #spanWeightComment").text(datas.WeightComment)
                $("#ulGeneralPfmc #spanRiceBowlComment").text(datas.CalCommentFromLastWeek)
                $("#ulGeneralPfmc #spanIsDailySuccess").text(datas.IsSuccessDay[0])
                $("#ulGeneralPfmc #spanIsDailySuccessComment").text(datas.IsSuccessDay[1])


                $("#ulGeneralPfmc #spanCalSavedFromLastWeek").text(datas.CalSavedFromLastWeek)
                $("#ulGeneralPfmc #spanTotalNa").text(datas.GainedNa)




            }
        function UpdateTODGainedList(datas) {

            console.log(datas.TODGaineds)
            $("#ulTODGained .spanTodCal").each((index, element) => {
                $(element).text(datas.TODGaineds[index])
            })
            $("#ulTODGained .spanTodCalRate").each((index, element) => {

                $(element).text(datas.TODGainedGrowthRates[index]+"%")
            })
            $("#ulTODGained #spanTotalCal").text(datas.AllDayGained)
            $("#ulTODGained #spanTotalCalRate").text(datas.AllDayGainedGrowthRate +"%")


            console.log(datas.TODGainedGrowthRates[4])


        }

        function GetWeeklyWaterLogsChart(chart, weeklyWaterLogGaineds, weeklyWaterLogSuggestedMin, weeklyWaterLogSuggestedMax)
            {

            chart.data.datasets[0].data = weeklyWaterLogSuggestedMin
            chart.data.datasets[1].data = weeklyWaterLogGaineds
            chart.data.datasets[2].data = weeklyWaterLogSuggestedMax
                chart.update();

            }

            function GetCalRadar(chart,gainedCal, priorAvgGainedCal) {
                     chart.data.datasets[0].data = gainedCal

                chart.data.datasets[1].data = priorAvgGainedCal
                    chart.update();

            }
            function GetNutritionRadar(chart, theDateDatas ) {


                chart.data.datasets[1].data = theDateDatas;


                chart.update();

            }
            function GetNearby7DaysBars(chart, gainedCalVals, nearbyWeekDayChars) {
                chart.data.datasets[0].data = gainedCalVals;
                chart.data.labels = nearbyWeekDayChars;
                chart.update();

            }




        </script>
    }
