
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout2.cshtml"; }
@model DTO.LayoutDTO


@section Styles {

    <link href="~/Content/toastr/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .d-md-block {
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 10px 10px;
        }

        a {
            color: black;
        }

            a:hover {
                text-decoration: none;
            }

        @@media only screen and (max-width: 550px) {
            #titleText {
                font-size: 1.5em;
            }

            #bannerText > h2 {
                font-size: 1.4em;
            }
        }

        .navigationImg {
            max-width: 100%;
            opacity: 0.8
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
        }

            .centered > h3 {
                font-weight: 700;
                background-color: rgba(255, 255, 255, 0.6);
                padding: 10px 10px 10px 10px;
                border-radius: 5px;
            }

        @@media only screen and (max-width: 650px) {
            .centered > h3 {
                font-size: 1.2em;
            }
        }
    </style>
}<header style="background-color: #fff0f0; width: 100%; padding-right: 0px " class="pt-5 pb-1 m-0 col-12">
    <div class="row" style="width: 100%; padding-right: 20px">

        <div class="col-3 col-sm-3 col-lg-2 p-2 p-0" style="text-align:center">
            <a href="~/Home2/Index"><img src="~/Areas/Admin/Content/tempimage/hLogoRed.jpg" style="max-width:90px;width:100%"></a>
        </div>
        <div class="col-8 col-sm-7 col-lg-8 p-1 align-self-center">
            <h2 id="titleText"><strong>HealthHelper</strong> <text style="white-space: nowrap">健康管理助手</text></h2>
        </div>

    </div>
</header><header id="header" class="m-0 p-0"></header>
<!-- Banner -->
<section class="p-0 pt-3 pb-2">
    <div class="row">
        <div class="col-12 col-lg-6 mb-3" id="bannerText">
            @if (Session["ID"] != null)
            {
<h2>
    <i class="far fa-flag"></i>
    Hi, @Session["Name"]<br />
    歡迎回到 HealthHelper，<br />你的健康管理助手<br />
    您目前可兌換禮品的點數為
</h2><h1 style="color:lightcoral">@Session["Points"]點</h1> }
            else
            {
<h2>
    歡迎來到<span style="font-size:0.9em"> HealthHelper</span>

</h2>
                <h2>登入以啟用更多功能</h2>}
        <div class="actions pt-2 m-auto">
            @if (Session["ID"] == null)
            {
                <a href="~/Home2/Login" class="button primary big mr-5" style="text-decoration: none"><i class="fas fa-user"></i> 登入</a><p style="color:red">需註冊後才可使用Google登入</p><button type="button" id="btnSignIn" class="button default m-0">Google登入</button> }
            else
            {
                <a href="~/Opay/Payment/" class="button primary mr-3" style="text-decoration: none" id="btnOpay">我要成為黃金會員</a><a href="#" class="button big" style="text-decoration: none;background-color:white;width:180px"><i class="fas fa-book"></i> 遊戲規則</a>
                <p style="color:red;font-size:20px">想增加點數嗎？<br />快按上方按鈕成為黃金會員吧<i class="far fa-kiss-wink-heart"></i></p>}
            @*data-toggle="modal" data-target="#OpayModal"*@
        </div>



        </div>
        <div class="col-12 col-lg-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#" class="image" style="width:auto; margin:auto">
                            <img class="d-block w-100" src="~/Areas/Admin/Content/tempimage/healthImg.png" alt="First slide">

                            <div class="carousel-caption d-md-block">
                                <h5>歡迎來到HealthHelper</h5>
                                <p>現在就加入健康管理助手</p>
                            </div>
                        </a>

                    </div>
                    @foreach (var item in Model.Carousels)
                    {
        <div class="carousel-item">
            <a href="@Url.Action("PostDetail", "FrontPost", new { @ID = item.ID })" class="image" style="        width: auto;
        margin: auto
">
                <img class="d-block w-100" src="~/Areas/Admin/Content/PostImages/@item.ImagePath" alt="First slide">

                <div class="carousel-caption d-md-block">
                    <h5>@item.Title</h5>
                    <p>@item.ShortContent</p>
                </div>
            </a>
        </div>}
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Section -->

<section class="pt-2 pb-5">
    @if (Session["ID"] != null)
    {
        <header class="row">
            <div class="col-12 col-sm-9 col-md-10" style="display:inline;">
                <h3 style="margin-bottom: 10px;">
                    <i class="far fa-map"></i> 快速導覽
                </h3>
            </div>
        </header>
        <header class="major"><p class="col-12"></p></header>
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="image">
                    <img src="~/Areas/Admin/Content/tempimage/personalInfo.jpg" class=" mb-2 navigationImg" />
                    <div class="centered"><h3>會員</h3></div>
                </div>
                <ul class="alt">
                    <li><a href="~/Member/EditMember?ID=@Session["ID"]">會員資料 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                    <li><a href="">綜合圖表 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                    <li><a href="~/Weight/WeightLog">體重管理 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <div class="image">
                    <img src="~/Areas/Admin/Content/tempimage/dietLog.jpg" class=" mb-2 navigationImg" />
                    <div class="centered"><h3>飲食</h3></div>
                </div>

                <ul class="alt">
                    <li><a href="~/HHDiet/Create">紀錄飲食 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                    <li><a href="~/HHDietHistory/DietLogsHistory">飲食歷史 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                    <li><a href="~/HHDiet/Create">參加挑戰 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <div class="image">
                    <img src="~/Areas/Admin/Content/tempimage/workout.jpg" class=" mb-2 navigationImg" />
                    <div class="centered"><h3>運動</h3></div>
                </div>
                <ul class="alt">
                    <li><a href="~/Workout/WorkoutLog">運動紀錄 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                    <li><a href="~/Workout/WorkoutSchedule">運動排程 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                    <li><a href="~/Workout/WorkoutPreferences">喜好管理 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <div class="image">

                    <img src="~/Areas/Admin/Content/tempimage/gift.jpg" class=" mb-2 navigationImg" />
                    <div class="centered"><h3>點數</h3></div>
                </div>

                <ul class="alt">
                    <li><a href="~/Home2/UserPoints">點數紀錄 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                    <li><a href="~/FrontGift/GiftList">禮物商店 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                    <li><a href="~/FrontGift/GiftCart?userID=@Session["ID"]">已兌換禮物 <i class="fas fa-angle-right" style="color:indianred"></i></a></li>
                </ul>
            </div>
        </div>
    }
    <header class="row">
        <div class="row col-12">
            <div class="col-8 col-sm-9 col-md-10" style="display:inline;">
                <h3 style="margin-bottom: 10px;">
                    <i class="far fa-file"></i> 最新文章
                </h3>
            </div>
            <div class="col-2 col-md-2" style="padding-right:0px; text-align:end">
                <a href="~/FrontPost/AllPosts"><label class="button primary">檢視全部</label></a>
            </div>
        </div>

    </header>
    <header class="major"><p class="col-12"></p></header>
    <div class="row">
        @foreach (var item in Model.Posts)
        {
            <div class="col-12 col-md-6 col-lg-4">


                <a href="@Url.Action("PostDetail", "FrontPost", new { @ID = item.ID })" class="image">
                    @if (item.ImagePath != "~/Content/img/slides/health1.jpg")
                    {
                        <img src="~/Areas/Admin/Content/PostImages/@item.ImagePath" alt="" style="max-width:100%" /> }

                    else
                    {
                        <img src="~/Content/img/slides/health1.jpg" alt="" style="max-width:100%" />
                    }
                </a>
                <text>
                    <span style="color: #ff756b;font-size:2em">@DisplayIcon(item.CategoryName) <span style="font-size: 0.6em;">@item.CategoryName </span></span><a href="@Url.Action("PostDetail","FrontPost", new { @ID = item.ID })" style="text-decoration: none"><strong>@item.Title</strong></a>
                </text><span>@item.AddDate.ToString("yyyy/MM/dd")</span>
                <p>@item.ShortContent</p>


            </div>
        }
    </div>
    <!--<div id="OpayModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style=" text-align:start">頁面載入中...</h5>
                </div>
                <div class="modal-body">
                    <img src="~/Content/Images/loadingDots.gif" />

                </div>
                <div class="modal-footer">-->
                    @* <input type="button" value="確定" class="btn btn-default fit" onclick="function CloseThisModal(){$('#editDoneModal').modal('hide')};CloseThisModal()" />*@
                <!--</div>
            </div>
        </div>
    </div>-->
</section>

@functions{ IHtmlString DisplayIcon(string name)
    {
        if (name == "貼文") return Html.Raw(@DTO.Icons.Post);
        else if (name == "資訊") return Html.Raw(@DTO.Icons.Information);
        else if (name == "公告") return Html.Raw(@DTO.Icons.Notice);
        else return Html.Raw(@DTO.Icons.Carousel);
    }
}
@section Scripts {

    <script src="~/Content/toastr/toastr.min.js"></script>
    <script src="~/Content/js/jquery.likebtn.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @*<script src="~/Content/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
    <!--從 Web.config檔 抓取Googl App Client ID-->
    <script type="text/javascript">
        let GoolgeApp_Cient_Id = "210856283403-257sicfc1u5afrca31mtevcc975u1dk5.apps.googleusercontent.com";
        let id_token_to_userIDUrl = "@Url.Action("GoogleLogin","Home2")";
    </script>
    <!--引用Google Sign-in必須的.js，callback function(GoogleSigninInit)名稱自訂 -->
    <script src="https://apis.google.com/js/platform.js?onload=GoogleSigninInit" async defer></script>

    <!--以下請放置到*.js檔-->
    <script>
        $('.carousel').carousel({
            interval: 4000
        })
        window.onload = function () { console.log("我回來了") };
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-center",
                "text-align": "center",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
            var result = "@TempData["Sucess"]";
            if (result != "") {
                if (result == "Update Success") {
                    toastr.success("更新成功");
                }
            }
        })
    </script>
    <script type="text/javascript">
        //jQuery處理button click event 當畫面DOM都載入時....
        $(function () {
            $("#btnSignIn").on("click", function () {
                GoogleLogin();//Google 登入
            });
            $("#btnDisconnect").on("click", function () {
                Google_disconnect();//和Google App斷連
            });

        });

        function GoogleSigninInit() {
            gapi.load('auth2', function () {
                gapi.auth2.init({
                    client_id: GoolgeApp_Cient_Id//必填，記得開發時期要開啟 Chrome開發人員工具 查看有沒有403錯誤(Javascript來源被禁止)
                });
                console.log(GoolgeApp_Cient_Id)
            });//end gapi.load
        }//end GoogleSigninInit function


        function GoogleLogin() {
            let auth2 = gapi.auth2.getAuthInstance();//取得GoogleAuth物件
            auth2.signIn().then(function (GoogleUser) {
                console.log("Google登入成功");
                console.log(GoogleUser["dt"]["Nt"]);//抓email
                let user_id = GoogleUser.getId();//取得user id，不過要發送至Server端的話，請使用↓id_token
                let AuthResponse = GoogleUser.getAuthResponse(true);//true會回傳access token ，false則不會，自行決定。如果只需要Google登入功能應該不會使用到access token
                let id_token = AuthResponse.id_token;//取得id_token
                let Email = GoogleUser["dt"]["Nt"];
                let GoogleID = user_id;
                console.log(user_id);
                AddGoogleID(Email, GoogleID);
                $.ajax({
                    url: id_token_to_userIDUrl,
                    method: "post",
                    data: { id_token: id_token },
                    success: function () {
                        console.log("我進來了")
                        window.location.href = "http://localhost/HealthHelper/Home2/Index";
                    }
                });//end $.ajax
            },
                function (error) {
                    console.log("Google登入失敗");
                    console.log(error);
                });

        }//end function GoogleLogin

        function AddGoogleID(Email, GoogleID) {
            $.ajax({
                url: "AddGoogleID",
                data: {
                    email: Email,
                    googleID: GoogleID
                }//前面事動作裡的參數，後面是這邊的參數
            })
        }
        function Google_disconnect() {
            let auth2 = gapi.auth2.getAuthInstance(); //取得GoogleAuth物件

            auth2.disconnect().then(function () {
                console.log('User disconnect.');
            });
        }
        //$("#btnOpay").on("click", function () {
        //    $.ajax()
        //})


        /**/
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-center",
                "text-align": "center",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
            var result = "@TempData["Success"]";
            if (result != "") {
                if (result == "Update Success") {
                    toastr.success("更新成功");
                }
            }
        })
    </script>
}
