
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}
@model DTO.LayoutDTO

<div id="main">
    <div class="inner">


        <!-- Banner -->
        <section id="banner">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-12-medium">
                        @if (DTO.UserStatic.UserID != 0)
                        {
                            <h1>
                                Hi, @DTO.UserStatic.NameSurname<br />
                                歡迎回到HealthHelper，<br />你的健康管理助手
                            </h1>
                        }
                        else
                        {
                            <h1>
                                歡迎來到<span style="font-size:0.9em">HealthHelper</span>

                            </h1>
                            <h2>登入以啟用更多功能</h2>
                        }

                    <ul>
                        <li>完整的個人每日的飲食、運動紀錄，最完善的熱量及營養控管平台</li>
                        <li>提供最新的營養資訊、留言板促進社群互動，並分享健康生活紀錄</li>
                        <li>飲食、運動紀錄資訊以精美報表製圖取代數字呈現，資訊一目瞭然</li>
                    </ul>
                        <ul class="actions">
                            <li><a href="#" class="button big">Learn More</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-12-medium">
                        <img src="~/Content/img/slides/health1.jpg" alt="" style="max-width:100%" />

                    </div>
                </div>
                </div>
        </section>



        <!-- Section -->
        <section>
            <header class="major">
                <h2>最新貼文</h2>
            </header>
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.Posts)
                    {
                    <div class="col-4 col-6-small col-12-xsmall">
                       
                            <a href="@Url.Action("PostDetail", new { @ID = item.ID })" class="image"><img src="~/Areas/Admin/Content/PostImages/@item.ImagePath" alt="" style="max-width:100%"/></a>
                            <h3>@item.Title</h3>
                            <p>@item.ShortContent</p>
                            <ul class="actions">
                                <li><a href="@Url.Action("PostDetail", new { @ID = item.ID })" class="button">More</a></li> 
                            </ul>
                        
                    </div>
                    }
                </div>
            </div>  
        </section>

    </div>
</div>
