
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}
@section Styles {

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
}
@model DTO.UserDTO

<!-- Header -->
<div><p></p></div>
<header class="major">
    <p style="font-size:2em; margin-bottom:10px">
        <i class="far fa-user"></i> 登入
    </p>
</header>
@Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")
<form action="@Url.Action("Login")" method="post">
    <div class="row">
        <div class="col-12">
            @Html.ValidationMessageFor(x => x.UserName, "", new { @style = "color:red" })
            <br /><label>帳號</label>

            <input type="text" name="UserName" id="demo-name" value="" placeholder="登入帳號" style="height:50px" autocomplete="off" />
        </div>
        <div class="col-12">
            @Html.ValidationMessageFor(x => x.Password, "", new { @style = "color:red" })
            <br /><label>密碼</label>

            <input type="password" name="Password" id="demo-email" value="" placeholder="你的密碼" style="height:50px" />
        </div>
        <!-- Break -->
        <!-- Break -->
        <div class="col-12" style="margin-top:10px">
            <ul class="actions">
                <li style="font-size:1.1em"><input type="submit" value="登入" class="primary" /></li>
            </ul>
        </div>
    </div>
    <!--For Redirect-->
    @if (ViewBag.ReturnUrl != null)
    {
        <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
    }
    <!--===========================================================-->
</form>
