
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}
@section Styles {
    <link href="~/Content/toastr/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
}
@model DTO.UserDTO
<header style="background-color: #fff0f0; width: 100%; padding-right: 0px " class="pt-5 pb-1 m-0 col-12">
    <div class="row" style="width: 100%; padding-right: 20px">

        <div class="col-3 col-sm-4 col-lg-2 p-2 p-0" style="text-align:center">
            <a href="~/Home2/Index"><img src="~/Areas/Admin/Content/tempimage/hLogoRed.jpg" style="max-width:90px;width:100%"></a>
        </div>
        <div class="col-8 col-sm-8 col-lg-10 p-1 align-self-center">
            <h2 style="font-size:1.8em"><i class="far fa-user"> </i> 使用者登入</h2>
        </div>        
    </div>
</header><header id="header" class="m-0 p-0"></header>


@Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")



<form action="@Url.Action("Login")" method="post">
    <input type="button" id="btnDemo3" name="btnDemo3" value="Demo" class="mt-2" />
    <div>
        <div class="row">
            <div class="col-4">
                @Html.ValidationMessageFor(x => x.Email, "", new { @style = "color:red"})
                <br /><label>帳號(Email)：</label>
                <input type="text" name="Email" id="demo-email" value="" placeholder="登入帳號" style="height:50px" autocomplete="off" />
            </div>
        </div>
        <div>
            @Html.ValidationMessageFor(x => x.Password, "", new { @style = "color:red" })
            <br /><label>密碼：</label>
        </div>
        <div class="row">

            <div class="col-4">
                <input type="password" name="Password" id="demo-pwd" value="" placeholder="你的密碼" style="height:50px" />
            </div>
            <div class="col-4">
                <button type="button" id="btnNewPwd" class="button default m-0">忘記密碼</button>
            </div>
        </div>
        <div class="mt-4">
            <label>  輸入驗證碼：</label>
        </div>
        <div class="row">
            <div class="col-4">
                <input type="text" name="code" placeholder="右方驗證碼" style="height:50px" />
            </div>
            <div class="col-6">
                <img id="code" src="~/Home2/GetValidateCode/" />
                <input type="button" id="btnCode" class="button default m-0" value="更新驗證碼" />
            </div>
        </div>
        <!-- Break -->@*;font-size:1.1em"*@
        <!-- Break -->@*; font-size: 1.1em*@
        <div class="row">
            <div class="col-12" style="margin-top:10px">
                <input type="submit" value="登入" class="primary" style="width:150px " />
                <a class="button default m-0" href=" ~/Member/CreateMember" style="width: 150px">註冊新會員</a>
            </div>
        </div>
    </div>
    <!--For Redirect-->
    @if (ViewBag.ReturnUrl != null)
    {
<input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />}
    <!--===========================================================-->
</form>
@section Scripts{
    <script src="~/Content/toastr/toastr.min.js"></script>
    <!-- 引用jQuery-->
    
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-center",
                "text-align": "center",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
            var result = "@TempData["Message"]";
            if (result != "") {
                if (result == "TempDataCodeNull") {
                    toastr.error("錯誤，TempData['Code']是null。");
                }
            }
        })
    </script>
    <script>
         
        function GetNewPassword(Email) {
            $.ajax({
                url: "GetNewPassword",
                data: {
                    email: Email
                }
                ,
                success: function () {
                    window.alert("新密碼已寄至帳號信箱")
                }
            })
        }
        $("#btnNewPwd").on("click", function () {
            let Email = $("#demo-email").val();
            GetNewPassword(Email)
        })
        
        $("#btnCode").on("click", function () {
            reloadcode()
        })

        function reloadcode() {
            document.getElementById("code").src = "../Home2/GetValidateCode?" + Math.random();
        }

       $("#btnDemo3").on("click", function () {
           $("#demo-email").val("Aju@gmail.com");
           $("#demo-pwd").val("1111");
       });
        
    </script>
}
