
@{
    ViewBag.Title = "PostList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


@model List<DTO.PostDTO>
<section class="content-header">
    <h1>所有貼文</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>後臺頁面</a></li>
        <li class="breadcrumb-item"><a>貼文</a></li>
        <li class="breadcrumb-item active"><a>所有貼文</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='../Post/AddPost'">新增貼文</button>
</div>
@*@using DTO
    @{
        CountDTO countDTO = (CountDTO)ViewData["AllCounts"];
    }*@
<div class="card">
    <!--</div>-->
    <!-- /.row -->
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>標題</th>
                    <th>分類</th>
                    <th>新增日期</th>
                    <th>核准</th>
                    <th>隱蔽</th>
                    <th>更新</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="a_@item.ID">
                        <td>@item.Title</td>
                        <td>
                            @item.CategoryName
                        </td>
                        <td>
                            @item.AddDate.ToString("yyyy.MM.dd")
                        </td>
                        @if (!item.IsApproved)
                        {
                            <td align="center" valign="middle">
                                <a href="../Post/ApprovePost/@item.ID">
                                    <img src="~/Areas/Admin/Content/icon/approve.png" />
                                </a>
                            </td>
                        }
                        else
                        {
                            <td align="center" valign="middle">
                                已核准
                            </td>
                        }
                        @if (item.IsApproved)
                        {
                            <td align="center" valign="middle">
                                <a href="../Post/BlockPost/@item.ID">
                                    <img src="~/Areas/Admin/Content/icon/lockIcon.png" />
                                </a>
                            </td>
                        }
                        else
                        {
                            <td align="center" valign="middle">
                                已隱蔽
                            </td>
                        }
                        <td align="center" valign="middle">

                            <a href="../Post/UpdatePost/@item.ID">
                                <img src="~/Areas/Admin/Content/icon/update-icon.png" />
                            </a>
                        </td>
                        <td align="center" valign="middle">

                            <a href="#">
                                <img src="~/Areas/Admin/Content/icon/close-icon.png" onclick="AskQuestion('../Post/DeletePost/', @item.ID)" />
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>標題</th>
                    <th>分類</th>
                    <th>新增日期</th>
                    <th>核准</th>
                    <th>隱蔽</th>
                    <th>更新</th>
                    <th>刪除</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<!-- /.card -->
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
