
@{
    ViewBag.Title = "PostList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


@model List<DTO.PostDTO>
<section class="content-header">
    <h1>所有文章</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>後臺頁面</a></li>
        <li class="breadcrumb-item"><a>文章</a></li>
        <li class="breadcrumb-item active"><a>所有文章</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='../Post/AddPost'">新增文章</button>
</div>
@*@using DTO
    @{
        CountDTO countDTO = (CountDTO)ViewData["AllCounts"];
    }*@
<!-- Info boxes -->
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-clipboard"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">總文章數</span>
                <span class="info-box-number">
                    @BLL.PostBLL.PostStatistics.PostCount
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-pen"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">待審核筆數</span>
                <span class="info-box-number">
                    @BLL.PostBLL.PostStatistics.UnapprovedCount
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-gradient-warning elevation-1"><i class="fas fa-ad"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">輪播牆頁數</span>
                <span class="info-box-number">
                    @BLL.PostBLL.PostStatistics.CarouselCount
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-gradient-primary elevation-1"><i class="fas fa-info"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">資訊筆數</span>
                <span class="info-box-number">
                    @BLL.PostBLL.PostStatistics.InfoCount
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<div class="card">
    <!--</div>-->
    <!-- /.row -->
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>標題</th>
                    <th>分類</th>
                    <th>新增日期</th>
                    <th>核准</th>
                    <th>隱蔽</th>
                    <th>更新</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="a_@item.ID">
                        <td>@item.Title</td>
                        <td>
                            @item.CategoryName
                        </td>
                        <td>
                            @item.AddDate.ToString("yyyy.MM.dd")
                        </td>
                        @if (!item.IsApproved)
                        {
                            <td align="center" valign="middle">
                                <a href="../Post/ApprovePost/@item.ID">
                                    <img src="~/Areas/Admin/Content/icon/approve.png" />
                                </a>
                            </td>
                        }
                        else
                        {
                            <td align="center" valign="middle">
                                已核准
                            </td>
                        }
                        @if (item.IsApproved)
                        {
                            <td align="center" valign="middle">
                                <a href="../Post/BlockPost/@item.ID">
                                    <img src="~/Areas/Admin/Content/icon/lockIcon.png" />
                                </a>
                            </td>
                        }
                        else
                        {
                            <td align="center" valign="middle">
                                已隱蔽
                            </td>
                        }
                        <td align="center" valign="middle">

                            <a href="../Post/UpdatePost/@item.ID">
                                <img src="~/Areas/Admin/Content/icon/update-icon.png" />
                            </a>
                        </td>
                        <td align="center" valign="middle">

                            <a href="#">
                                <img src="~/Areas/Admin/Content/icon/close-icon.png" onclick="AskQuestion('../Post/DeletePost/', @item.ID)" />
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>標題</th>
                    <th>分類</th>
                    <th>新增日期</th>
                    <th>核准</th>
                    <th>隱蔽</th>
                    <th>更新</th>
                    <th>刪除</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<!-- /.card -->
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
