
@{
    ViewBag.Title = "AddPost";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}
@section Styles{
    <style>
        #messageInfo strong {
            color: white;
        }

        a.toggle {
            color: red;
        }

        .image-upload .browseBtn {
            /*        visibility: hidden;
        */
        }
    </style>
}

@model DTO.PostDTO
<!-- Content -->
<div id="main">
    <div class="inner">
        <section>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <header class="major">
                        @if (Model.IsUpdate)
                        {
                            <h2>編輯貼文 </h2>
                        }
                        else
                        {
                            <h2>新增你的貼文</h2>
                        }
                    </header>
                </div>
            </div>
            <div class="col-8 col-12-small" style="padding:0px"> @Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")</div>

            @using (Html.BeginForm("AddPost", "FrontPost", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {


                <div class="row gtr-uniform">

                    <div class="col-8 col-12-small">
                        <input hidden value="@DTO.UserStatic.UserID" name="MemberID">
                        <label>顯示名稱</label>

                        <input type="text" id="demo-name" value="@DTO.UserStatic.NameSurname" placeholder="Name" readonly style="height:45px" />
                    </div>
                    <div class="col-8 col-12-small">
                        <label>標題</label>
                        <input type="text" name="Title" id="demo-email" value="" placeholder="標題" maxlength="50" style="height:45px" />                            @Html.ValidationMessageFor(x => x.Title, "", new { @style = "color:red" })

                    </div>
                    <div class="col-8 col-12-small">
                        <label>大綱</label>
                        <input type="text" name="ShortContent" id="demo-email" value="" placeholder="內容大綱" maxlength="100" style="height:45px" />                            @Html.ValidationMessageFor(x => x.ShortContent, "", new { @style = "color:red" })

                    </div>
                    <!--<div class="col-8 col-12-small">
                        <label>貼文分類</label>-->
                    @*@Html.DropDownList("CategoryID", Model.Categories, "選擇貼文分類", new { @class = "form-control" })*@
                    <!--<select id="CategoryID" class="form-control" name="CategoryID">
                            <option selected value="0">所有分類</option>
                            <option value="1">貼文</option>
                            <option value="2">資訊</option>
                            <option value="3">公告</option>
                            <option value="4">規則</option>
                        </select>
                        @Html.ValidationMessageFor(x => x.CategoryID, "", new { @style = "color:red" })
                    </div>-->
                    <!-- Break -->
                    <!-- Break -->
                    <!-- Break -->
                    <div class="col-8 col-12-small">
                        <label>貼文內容</label>
                        <textarea name="PostContent" id="demo-message" placeholder="輸入你的貼文內容" rows="6" class="ckeditor"></textarea>                            @Html.ValidationMessageFor(x => x.PostContent, "", new { @style = "color:red" })

                    </div>
                    <div class="col-8 col-12-xsmall image-upload">

                        <label>圖片(建議長寬比16:9，單邊400px以上大圖)</label>
                        <div class="input-group">


                            <label for="file-input">
                                <input type="file" id="file-input" name="PostImage" class="button default browseBtn" accept="image/gif, image/jpeg, image/png, image/jpg" multiple onchange="$('#PostImage')[0].src = window.URL.createObjectURL(this.files[0])" style="padding:10px;height:45px" />
                            </label>



                            <img class="image" id="PostImage" width="800" height="450" style="max-width:100%; top:10px" />
                            <br />
                        </div>
                    </div>

                    <!-- Break -->
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="提交" class="primary" /></li>

                        </ul>
                    </div>
                </div>
            }
            <!-- /.card-header -->

        </section>
    </div>

</div>
@section Scripts{
    <script src="~/Areas/Admin/Content/JS/adminlte.min.js"></script>
    <script src="~/Areas/Admin/Content/JS/bs-custom-file-input.min.js"></script>
    <script src="~/Areas/Admin/Content/JS/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/JS/ckeditor/ckeditor.js"></script>
    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
}
