
@{
    ViewBag.Title = "UpdatePost";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}

@model DTO.PostDTO

@section Styles{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/Areas/Admin/Content/JS/ckeditor/ckeditor.js"></script>
    <style>
        #messageInfo strong {
            color: white;
        }

        a.toggle {
            color: red;
        }
    </style>
}
<!-- Content -->

<section>
    <div class="row">
        <div class="col-8 col-12-medium">
            <header class="major">
                @if (Model.IsUpdate)
                {
                    <h2>編輯貼文 </h2>
                }
                else
                {
                    <h2>新增你的貼文</h2>
                }
            </header>
        </div>
    </div>
    <div class="col-8" style="color:white" id="messageInfo">@Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")</div>
    @using (Html.BeginForm("UpdatePost", "FrontPost", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {


        <div class="row gtr-uniform">

            <div class="col-8 col-12-small">
                <input hidden value="@Session["ID"]">
                <label>顯示名稱</label>

                <input type="text" id="demo-name" value="@Session["Name"]" placeholder="Name" readonly style="        height: 45px" />
            </div>
            <div class="col-8 col-12-small">
                <label>標題</label>
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "標題", @maxlength = "50", @style = "height:45px" })

                @Html.ValidationMessageFor(x => x.Title)

            </div>
            <div class="col-8 col-12-small">
                <label>大綱</label>
                @Html.TextBoxFor(x => x.ShortContent, new { @class = "form-control", @placeholder = "內容綱要", @maxlength = "100", @style = "height:45px" })                       @Html.ValidationMessageFor(x => x.ShortContent)

            </div>
            <div class="col-8 col-12-small">
                <label>貼文分類</label>
                @Html.DropDownList("CategoryID", Model.Categories, "選擇貼文分類", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryID)
            </div>
            <!-- Break -->
            <!-- Break -->
            <!-- Break -->
            <div class="col-8 col-12-small">
                <label>貼文內容</label>
                @Html.TextAreaFor(x => x.PostContent, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(x => x.PostContent)

            </div>


            <div class="col-8  col-12-xsmall">
                <label class="form-label" for="customFile">圖片(建議長寬比16:9，單邊400px以上大圖)</label>
                <input type="file" name="PostImage" class="form-control" id="customFile" style="height:45px" accept="image/gif, image/jpeg, image/png, image/jpg" onchange="$('#PostImage')[0].src = URL.createObjectURL(this.files[0])" />
                <img id="PostImage" width="800" height="450" style="max-width:100%; top:10px" />


            </div>

            <!-- Break -->
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="提交" class="primary" onclick="return confirm('確定要修改嗎?')" /></li>

                </ul>
            </div>
        </div>
    }
    <!-- /.card-header -->
    @if (Model.IsUpdate)
    {
        <!-- /.card-header -->
        <label>貼文圖片</label>

        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>圖片</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PostImages)
                {
                    <tr id="a_@item.ID">
                        <td>
                            <img src="~/Areas/Admin/Content/PostImages/@item.ImagePath" width="160" height="90" />
                        </td>
                        <td valign="middle">
                            <a href="#">

                                @Html.ActionLink("刪除圖片", "DeletePostImage", "FrontPost", new { ID = item.ID }, new { onclick = "return confirm('確定要刪除嗎?')", @class = "button" })
                                @*<img src="~/Areas/Admin/Content/icon/close-icon.png" onclick="AskQuestion('/Admin/Post/DeletePostImage/', @item.ID)" />*@
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>圖片</th>
                    <th>刪除</th>
                </tr>
            </tfoot>
        </table>
        <script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
    }
</section>


<script>


</script>
