@model UI.ViewModels.DietLogsHistoryViewModel
@using UI.ViewModels
@using DAL
@using DTO
@using System.Globalization


@*<input id="hiddenTODPercents" type="hidden" value="" />
<input id="hiddenTODPriorAvgPercents" type="hidden" value="" />
<input id="hiddenGainedNutritionsPercents" type="hidden" value="" />
<input id="hiddenGetNearby7DaysGainedCal" type="hidden" value="" />
<input id="hiddenGetNearbyWeekDays" type="hidden" value="" />
<input id="hiddenWaterLogDatas" type="hidden" value="" />*@

<script>

     todGainedCalsPer = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.GainedCalDatas.TODPercents))';
     todGainedCalsPerArr = JSON.parse(todGainedCalsPer);
     tODPriorAvgPer = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.GainedCalDatas.TODPriorAvgPercents))';
    tODPriorAvgPerArr = JSON.parse(tODPriorAvgPer);
    gainedNutritionsPer = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.GainedNutritionDatas.GainedNutritionsPercents))';
    gainedNutritionsPerArr = JSON.parse(gainedNutritionsPer);
    GetNearby7DaysGainedCal = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.GetNearby7DaysGainedCal))';
    GetNearby7DaysGainedCalArr = JSON.parse(GetNearby7DaysGainedCal);
   GetNearbyWeekDays = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.GetNearbyWeekDays))';
    GetNearbyWeekDaysArr = JSON.parse(GetNearbyWeekDays);
    WeeklyWaterLogGaineds = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.WaterLogDatas.WeeklyWaterLogGaineds))';
    WeeklyWaterLogGainedsArr = JSON.parse(WeeklyWaterLogGaineds);
     WeeklyWaterLogSuggestedRanges = '@Html.Raw(Json.Encode(Model.MemberHealthProfile.WaterLogDatas.WeeklyWaterLogSuggestedRanges))';
      WeeklyWaterLogSuggestedRangesArr = JSON.parse(WeeklyWaterLogSuggestedRanges);

    //$("#hiddenTODPercents").val(TODPercentsArr)
    //$("#hiddenTODPriorAvgPercents").val(TODPriorAvgPercentsArr)
    //$("#hiddenGainedNutritionsPercents").val(GainedNutritionsPercentsArr)
    //$("#hiddenGetNearby7DaysGainedCal").val(GetNearby7DaysGainedCalArr)
    //$("#hiddenGetNearbyWeekDays").val(GetNearbyWeekDaysArr)
    //$("#hiddenWaterLogDatas").val(WaterLogDatasArr)


</script>
@*===========================*@

<div class="d-flex justify-content-between mb-3">
    <input type="button" id="btnPrevDay" value="<" class="btn btn-default" />

    <h1 id="titleCurrDate" style="display:inline">@Model.Date 飲食綜合紀錄</h1>


    <input type="button" id="btnNextDay" value=">" class="btn btn-default" />

</div>
<div class="row  pb-3 mt-4" style="height: 700px;">
    <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height: 650px; width: 450px; margin: auto ">

        @*height: 400px*@
        <h3 style="text-align: center;   border-bottom: #f56a6a 2px solid">本日吃多?少?</h3>


        <ul class="list-group list-group-flush" id="ulTODGained">
            <li class="list-group-item border-0">
                <div class="shadow-sm p-3  bg-white rounded">全天: <span id="spanTotalCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.AllDayGained</span> 大卡,比平常攝取多/少 <span id="spanTotalCalRate" class=" h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.AllDayGainedGrowthRate%</span></div> @*mb-5*@
            </li>
            <li class="list-group-item border-0">
                <div class="shadow-sm p-3  bg-white rounded">早餐: <span class="spanTodCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.TODGaineds[0]</span> 大卡,比平常攝取多/少 <span class="spanTodCalRate h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.TODGainedGrowthRates[0]%</span></div> @*mb-5*@
            </li>
            <li class="list-group-item border-0">
                <div class="shadow-sm p-3  bg-white rounded">午餐: <span class="spanTodCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.TODGaineds[1]</span> 大卡,比平常攝取多/少 <span class="spanTodCalRate h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.TODGainedGrowthRates[1]%</span></div> @*mb-5*@
            </li>
            <li class="list-group-item border-0">
                <div class="shadow-sm p-3  bg-white rounded">點心: <span class="spanTodCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.TODGaineds[2]</span> 大卡,比平常攝取多/少 <span class="spanTodCalRate h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.TODGainedGrowthRates[2]%</span></div> @*mb-5*@
            </li>
            <li class="list-group-item border-0">
                <div class="shadow-sm p-3  bg-white rounded">晚餐: <span class="spanTodCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.TODGaineds[3]</span> 大卡,比平常攝取多/少 <span class="spanTodCalRate h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.TODGainedGrowthRates[3]%</span></div> @*mb-5*@
            </li>
            <li class="list-group-item border-0">
                <div class="shadow-sm p-3  bg-white rounded">宵夜: <span class="spanTodCal" style="color:#f56a6a">@Model.MemberHealthProfile.GainedCalDatas.TODGaineds[4]</span> 大卡,比平常攝取多/少 <span class="spanTodCalRate h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GainedCalDatas.TODGainedGrowthRates[4]%</span></div> @*mb-5*@
            </li>

        </ul>
    </div>
    <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height:650px;width: 450px; margin: auto">

        <h3 style="text-align: center;  border-bottom: #f56a6a 2px solid">周周多喝水(單位: 毫升)</h3>

        <canvas class="pb-5" id="WaterLine"></canvas>
    </div>
    <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height: 650px; width: 450px; margin: auto ">

        @*height: 400px*@
        <h3 style="text-align: center;  border-bottom: #f56a6a 2px solid">綜觀表現</h3>
        <ul class="list-group list-group-flush" id="ulGeneralPfmc">
            <li class="list-group-item border-0">
                <div class="shadow-sm p-3  bg-white rounded"><span id="spanProNameOrDaily">@Model.MemberHealthProfile.GeneralPerformances.ProgramNameOrDailyLog</span>挑戰: <span id="spanIsDailySuccess" class="h2" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GeneralPerformances.IsSuccessDay[0]</span> <span id="spanIsDailySuccessComment">@Model.MemberHealthProfile.GeneralPerformances.IsSuccessDay[1]</span></div> @*mb-5*@
            </li>
            <li class="list-group-item border-0">
                <div class="shadow-sm p-3  bg-white rounded">
                    體重: <span id="spanCurrWeight" style="color:#f56a6a">@Model.MemberHealthProfile.GeneralPerformances.CurrentWeight</span> 公斤,跟7天前比較<span class="h2" style="color:#f56a6a; font-style:italic" id="spanWeightComment">@Model.MemberHealthProfile.GeneralPerformances.WeightComment</span>
                    <span id="spanWeightUpOrDown">
                        @{
                            if (Model.MemberHealthProfile.GeneralPerformances.WeightChange != 0)
                            {
                                <i>(@Model.MemberHealthProfile.GeneralPerformances.WeightChange kg)</i>
                            }


                        }


                    </span>
                </div>

            </li>
            <li class="list-group-item border-0">
                <div class="shadow-sm p-3  bg-white rounded">過去7天省下了: <span class="h2" id="spanCalSavedFromLastWeek" style="color:#f56a6a">@Model.MemberHealthProfile.GeneralPerformances.CalSavedFromLastWeek</span> 大卡,相當於<span class="spanRiceBowlsCount h2" id="spanRiceBowlComment" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GeneralPerformances.CalCommentFromLastWeek</span><img src="~/Content/Images/Infography/riceBowlImg2.jpg" width="80" /></div> @*mb-5*@
            </li>
            <li class="list-group-item border-0">

                <div class="shadow-sm p-3  bg-white rounded">運動消耗了: <span class="h2" id="spanPast7DaysWorkoutBurnedCals" style="color:#f56a6a">@Model.MemberHealthProfile.GeneralPerformances.Past7DaysWorkoutBurnedCals</span> 大卡,相當於 <span class="h2" id="spanRiceBowlCommentBURN" style="color:#f56a6a; font-style:italic">@Model.MemberHealthProfile.GeneralPerformances.BurnedCalCommentFromLastWeek</span><img src="~/Content/Images/Infography/riceBowlImg2.jpg" width="80" /></div>
            </li>
            <li class="list-group-item border-0">
                <div class="shadow-sm p-3  bg-white rounded">鈉攝取: <span id="spanTotalNa" style="color:#f56a6a">@Model.MemberHealthProfile.GeneralPerformances.GainedNa</span>(衛生署食品衛生處建議成人每日鈉總攝取量不要超過2400毫克)</div> @*mb-5*@
            </li>

        </ul>
    </div>
</div>

<div class="row pb-3 mt-4 ">
    <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height: 450px; width: 450px; margin: auto">
        <h3 style="text-align: center;  border-bottom: #f56a6a 2px solid">暴飲暴食?</h3>

        <canvas class="pb-5" id="Nearby7DayBarID"></canvas>
    </div>
    <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height: 450px; width: 450px; margin: auto ">
        <h3 style="text-align: center;  border-bottom: #f56a6a 2px solid">飲食時段分配圖</h3>

        <canvas id="CalRadarID"></canvas>
    </div>
    <div class="col-4  shadow bg-white " style="border-radius: 0.9em; height: 450px; width: 450px; margin: auto ">
        <h3 style="text-align: center;  border-bottom: #f56a6a 2px solid">營養攝取分配圖</h3>

        <canvas id="NutritionRadarID"></canvas>
    </div>
</div>



<div class="mt-5">
    <table class="table" id="dietLogHistoryTb">
        <thead>
            <tr>
                <th>
                    餐點圖片
                </th>
                @*<th>
                        日期
                    </th>*@
                <th>
                    時段
                </th>
                <th>
                    餐點名稱
                </th>
                <th>
                    每單位卡路里(大卡)
                </th>
                <th>
                    單位名稱
                </th>
                <th>
                    份量
                </th>
                <th>
                    總卡路里量
                </th>

                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (DietLogViewModel dl in @Model.DietLogsOfTheDate)
                {
                    <tr data-dietLogId="@dl.ID" data-IsCustomeUploaded="@dl.IsCustomUploaded ">
                        <td class="mealImg">
                            @{
                                if (dl.IsCustomUploaded == true)
                                {
                                    <img src="~/Content/Images/CustomerMealUploadImages/@dl.MealImage" width="108" height="85" />

                                }
                                else
                                {
                                    <img src="~/Content/Images/MealOptionImages/@dl.MealImage" width="108" height="85" />

                                }

                            }




                        </td>
                        @*<td>
                                @dl.Date
                            </td>*@
                        <td>
                            @dl.TimesOfDayName
                        </td>
                        <td class="mealName">
                            @dl.MealName
                        </td>
                        <td class="mealCal">
                            @dl.MealCal
                        </td>
                        <td class="mealUnitName">
                            @dl.MealUnitName
                        </td>
                        <td class="portion">
                            @dl.Portion
                        </td>
                        <td>
                            @dl.MealTotalGainedCal
                        </td>
                        @{ if (Model.NeedDeleteEditOpts)
                            {
                                <td>
                                    @{

                                        if (DateTime.ParseExact(dl.Date, "MMddyyyy", CultureInfo.InvariantCulture) >= DateTime.Now.Date.AddDays(-5))
                                        {
                                            @*<input type="button" style="display: inline" value="修改" class="btn btn-default btnEditDietLog" />
                                                <input type="button" style="display: inline" value="刪除" class="btn btn-default btnDeleteDietLog" />*@
                                            <input type="button" class="btn btn-default btnEditDietLog" data-toggle="modal" data-target=".bd-example-modal-sm" value="修改">

                                            <input type="button" style="display: inline" value="刪除" class="btn btn-default btnDeleteDietLog" />
                                        }
                                    }
                                </td>
                            }
                        }



                    </tr>
                }
            }
        </tbody>
    </table>
</div>

