@model UI.ViewModels.RegisterProgramViewModel


<div class="  bg-white " style="bottom: 0; border-radius: 0.9em; overflow: hidden; box-shadow: 5px 5px 30px #E0E0E0 ">
    <div class="p-2" style="background-color: #f56a6a">
        <h3 style="color:white; display:flex;justify-content:center" id="fillProgramDemo">來註冊個減脂挑戰吧！</h3>
    </div>
    <input id="hiddenHasProgram" type="hidden" value="false" />

    @*//=====================style="text-align:center=========margin: auto;display:flex ;justify-content:center*@
    <div class="px-3">
        <form method="post" action="~/Api/Register" name="RegisterProgramForm" id="registerProForm">
            <input type="hidden" name="MemberID" value="@Model.MemberID" />
            <input type="hidden" name="StatusID" value="1" />

            <div class="row gtr-uniform m-auto" style="display:flex; justify-content:center">
                <div class="col-12 col-12-xsmall">
                    <label for="Name" style="display:inline">幫減脂計畫取個名字</label>
                    <input type="text" name="Name" id="ProName" readonly value="" placeholder="例如: 還我六塊肌!!!" />
                </div>

                <!-- Break -->
                <div class="col-12">
                    <label for="ActivityLevelID" style="display:inline">生活型態</label>
                    @Html.DropDownList("ActivityLevelID", Model.ActivityLevelsSelectListItem)
                </div>
                <div class="col-6 col-12-small">
                    <label for="StartDate" style="display:inline">開始日期</label>

                    <input type="text" name="StartDate" id="StartDate" readonly value="@DateTime.Now.Month/@DateTime.Now.Day/@DateTime.Now.Year">
                </div>
                <div class="col-6 col-12-small">
                    <label for="EndDate" style="display:inline">結束日期</label>
                    <input type="text" name="EndDate" id="EndDate" class="datepicker" readonly value="@DateTime.Now.AddDays(14).Month/@DateTime.Now.AddDays(14).Day/@DateTime.Now.AddDays(14).Year">
                </div>
                <!-- Break -->
                <div class="col-6 col-12-small">
                    <label for="InitialWeight" style="display:inline">起始體重</label>

                    <input type="number" name="InitialWeight" id="InitialWeight" value="@Model.MemberLatestWeight" placeholder="請輸入目前體重" />
                </div>
                <div class="col-6 col-12-small">
                    <label for="TargetWeight" style="display:inline">目標體重</label>
                    <input type="number" name="TargetWeight" id="TargetWeight" value="@Model.MemberLatestWeight" max="@Model.MemberLatestWeight" placeholder="請輸入目標體重" />     @*min*@
                </div>



                <div class="row" >
                    <div class=" col-6 p-1">
                        <input type="submit" value="提交註冊" id="btnSendRegister" class="primary fit " />
                    </div>
                    <div class=" col-6 p-1">
                        <input type="reset" value="清空" class="fit" />
                    </div >

                </div>
                <div class="mt-4">
                    <b>為什麼要註冊我們的減脂計劃呢?</b>
                    <br />
                    根據統計 參加Health Helper減脂成功達成理想體態者 高達<span class="h3" style="color: #f56a6a">50%</span>
                    <br />
                    換禮物 slogan
                    blablabla

                </div>
            </div>
        </form>
    </div>
</div>