@model UI.ViewModels.ShowProgramViewModel
@using DTO
<div class="  bg-white " style="bottom: 0; border-radius: 0.9em; overflow: hidden; box-shadow: 5px 5px 30px #E0E0E0 ">
    <div class="p-2" style="background-color: #f56a6a">
        <h3 id="currProgramName" style="color:white; display:flex;justify-content:center">@Model.CurrProgram.Name 減脂計畫</h5>
    </div>
    <input id="hiddenHasProgram" type="hidden" value="true" />

    <div>
        <input type="hidden" id="currProgramId" value="@Model.CurrProgram.ID">
        <ul class="list-group-flush  pr-4 mb-3" style="border-bottom: solid #f56a6a 2.5px">
            <li class="list-group-item">起始日期: <span style="float:right" id="">@Model.CurrProgram.StartDate.ToString(CDictionary.MMSlashddSlashyyyy)</span></li>
            <li class="list-group-item">結束日期: <span style="float:right" id="">@Model.CurrProgram.EndDate.ToString(CDictionary.MMSlashddSlashyyyy)</span></li>
            <li class="list-group-item">剩餘天數: <span style="float: right" id="restDays"><b>@(Math.Ceiling((Model.CurrProgram.EndDate-DateTime.Now).TotalDays)) 天</b></span></li>

            <li class="list-group-item">起使體重: <span id="" style="float:right">@Model.CurrProgram.InitialWeight 公斤</span></li>
            <li class="list-group-item">目前體重: <span id="" style="float:right">@Model.MemberLatestWeight 公斤</span></li>
            <li class="list-group-item">目標體重: <span id="" style="float:right">@Model.CurrProgram.TargetWeight 公斤</span></li>
            @*<li class="list-group-item">我的活動等級: <span style="float:right" id="">@Model.CurrProgram.ActivityLevel.Description</span></li>*@

        </ul>




        <div class="row">
            <div class="col-9 pl-5">
                    <b class="pl-3 ">挑戰細節及提醒:</b>
                    <ul>
                        <li>
                            TDEE:<span style="color:#f56a6a " class="h2">@Model.TDEE 大卡</span>
                        </li>

                        <li>
                            每日熱量上限:<span style="color:#f56a6a " class="h2">@Model.ProgramMax 大卡</span></p>
                        </li>
                        <li>
                            當天攝取熱量扣除消耗熱量小於每日熱量上限，即為<span class="h3" style="color: #f56a6a">當日挑戰成功</span>
                        </li>
                        <li>
                            計劃成功最高可獲得點數
                            <span class="h3" style="color: #f56a6a">1000</span> 點
                        </li>
                    </ul>

                

                <p class="pl-3"><span id="btnTerminateProgram" style="color: lightgray">取消計畫</span></p>

            </div>
            <div class="col-3">
                <img src="~/Content/Images/ProgramImages/programRefImg.jpeg" width="200" />
            </div>
        </div>
    </div>
</div>
