@using UI.Controllers
@using DTO

@{ Layout = null; }

<!DOCTYPE HTML>
<!--
    Editorial by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>HealthHelper 你的健康管理助手</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="~/Content/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />


    @RenderSection("Styles", required: false)

<style>
    @*恩旗=====================================*@
    #dialogDiv, #programFrozen, #fanfare {
        display: none;
    }

    #resultWeight {
        display: inline-block;
        width: 10em;
    }

    #dialogDiv ul {
        list-style-type: none;
    }

    #dialogDiv ul li::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #f56a6a; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }

    .no-close .ui-dialog-titlebar-close {
        display: none;
    }

    .btnOK {
        all: initial;
        border: none !important;
    }

    .ui-dialog-titlebar {
        background-color: #f56a6a;
        color: white;
    }

    .points {
        font-size: 1.5em;
        font-weight: 600;
        font-style: italic;
        color: #f56a6a;
    }

    .programSuccessPts {
        font-size: 3em;
        font-weight: 600;
        font-style: italic;
        color: #f56a6a;
    }

    @*ForCustomerService==========================*@

    #chatPanel {
        width: 300px;
        height: 400px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border: solid 1px #f56a6a;
        border-radius: 0.9em;
        transition: height linear 0.5s;
        display: flex;
        flex-direction: column;
        padding: 0px;
        overflow: hidden;
        background-color: white;
        box-shadow: 5px 5px 10px 5px #E0E0E0;
    }

    .chatHeader {
        display: flex;
        padding: 10px;
        background-color: #f56a6a;
        color: white;
        margin:0px;
    }

    #notRead {
        visibility:hidden;
        margin-left: auto;
        background-color: white;
        color: #f56a6a;
        padding: 5px 7px;
        line-height: 1em;
        height: calc(1em + 10px);
        text-align: center;
    }

    #notReadForSidebar {
        width:20px;
        font-size: 0.6em !important;
        font-weight: 300 !important;
        color: white !important;
        left: 115px;
        top: 12px;
        position:absolute;
        text-align:center;
    }

    .notReadText {
        width:80%;
        text-align:center;
        font-size:0.5em;
        color:white;
        background-color: lightgray;
        border-radius:5px;
        margin: 5px auto;
    }

    #collapse {
        background-color: white;
        color: #f56a6a;
        padding: 5px;
        line-height: 1em;
        height: calc(1em + 10px);
        text-align: center;
    }

    #closePanel {
        background-color: white;
        color: #f56a6a;
        padding: 5px 7px;
        line-height: 1em;
        height: calc(1em + 10px);
        text-align: center;
    }

    .chatBody {
        border-bottom: solid 1px gray;
        flex: 1 1 0;
        min-height: 0;
        background-color:white;
    }

    #serviceChatBox {
        position: relative;
        height: 100%;
        overflow: auto;
        scroll-behavior: smooth;
        padding:0px 5px;
        border:none;
    }

    .messageRow {
        display:flex;
        flex-wrap:wrap;
        margin:5px;
    }

    .chatFooter {
        display: flex;
        margin-top: auto;
        column-gap: 10px;
        padding: 10px;
        background-color:white;
    }

    .chatFooter input, .chatFooter div {
        display: inline-block;
    }

    img.myImage {
        width:30px;
        height:30px;
        margin:5px;
    }

    .myImage, .selfText, .otherText {
        display:inline-block;
        border-radius: 5px;
        margin:5px;
    }

    .selfText, .otherText {
        padding: 5px;
        /*width:100%;*/
        margin: 0px;
        color: white !important;
    }

    .selfText p, .otherText p {
        margin-bottom: 0px;
    }

    .selfText ul, .otherText ul {
        margin-left:10px;
        margin-bottom: 0px;
    }

    .selfText ul li, .otherText ul li {
        padding-left: 0px;
    }

    .selfText strong, .otherText strong {
        color: white !important;
    }

    .promptDiv a:link, .promptDiv a:visited, .selfText a:link, .otherText a:link, .selfText a:visited, .otherText a:visited {
        color: white;
        text-decoration: underline;
    }

    .promptDiv a:hover, .selfText a:hover, .otherText a:hover {
        color: aqua !important;
    }

    .ArrowToLeft, .ArrowToRight {
        display:flex;
        align-items: center;
        position:relative;
        width:100%;
    }

    .ArrowToRight {
        flex-direction:row-reverse;
    }

    .ArrowToLeft::before {
        content: "\25C2";
        color: plum;
        position: absolute;
        left: -9px;
    }

    .ArrowToRight::after {
        content: "\25B8";
        color: #f56a6a;
        position: absolute;
        right: -9px;
    }

    .textDiv {
        display:flex;
        width:100%;
        padding:5px;
    }

    .textDiv.reverse {
        flex-direction:row-reverse;
    }

    .promptDiv {
        display:flex;
        justify-content:center;
        margin: 5px 0px;
    }

    .promptButton {
        width: max-content;
        background-color: #2894FF;
        color: white;
        border-radius: 5px;
        padding: 5px;
    }

    @*Modal============================================*@

    /* The Modal (background) */
    #chatModal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        justify-content:center;
        align-items:center;
    }

    #chatPanel.ModalChatPanel {
        bottom: unset;
        right: unset;
        width: calc(40% + 3px);
        height: calc(50% + 1px) !important;
        box-shadow: none;
    }

    #showChatModal {
        background-color: white;
        color: #f56a6a;
        padding: 5px 5px;
        line-height: 1em;
        height: calc(1em + 10px);
        text-align: center;
    }
    @*ForScrollbar=====================================*@
        /* width */
        ::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: rgb(224,224,224);
            border-radius: 4px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgba(245,106,106, 0.5);
            border-radius: 4px;
        }
    @*=================================================*@

        a.toggle {
            color: red;
        }

        a {
            border-bottom: none;
        }
        img {
            border-radius: 15px 15px;
        }

        #sidebar {
            width: 15em;
            padding: 10px;
        }

        nav{
            padding:15px;
        }

        #sidebar.inactive {
            margin-left: -15em;
        }

        #sidebar .toggle {
            left: 15em;
        }

        #sidebar > .inner {
            width: 15em;
            position: absolute;
            background-color: #fffcfc;
        }

        @*ForServiceDemo=========================*@
        .demoService {
            display: flex;
            position: fixed;
            left: 40em !important;
            bottom: 50px;
            column-gap:10px;
            z-index: 100;
        }

        .demoButtonService {
            background-color: darkseagreen;
            color: white;
            padding: 5px;
            border-radius: 10px;
        }

        .loginButton {
            background-color: darksalmon;
            color: white;
            padding: 5px;
            border-radius: 10px;
        }
</style>
</head>

<!--恩旗-->
@if (Session["ID"] != null)
{
    if (Session["dialogShown"] == null)
    {
        Session["dialogShown"] = false;
    }
    else
    {
        Session["dialogShown"] = true;
    }

    if (!(bool)Session["dialogShown"])
    {
        var controller = ViewContext.Controller as Controller;
        Home2Controller.SetWeightLogSession(controller.HttpContext);
        Home2Controller.SetPreferencesSession(controller.HttpContext);
        Home2Controller.SetPointsSession(controller.HttpContext);
        Home2Controller.SetProgramFrozenSession(controller.HttpContext);
        Home2Controller.SetInProgramSession(controller.HttpContext);
    }
}

<!--================================================================-->

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">
               
                @RenderBody()
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" class="p-0 w-auto">
            <div class="inner">

                <!-- Search -->
                <!-- Menu -->
                <nav id="menu" style="margin:0px">
                    <header class="major">
                        <h2>選單</h2>
                    </header>
                    <ul style="font-size: 1.3em;">
                        <li><a href="~/Home2/Index" style="text-decoration:none"><i class="fas fa-home" style="width:30px"></i> 首頁</a></li>
                        @if (Session["ID"] == null)
                        {
                            <li><a href="~/Home2/Login" style="text-decoration:none"> <i class="fas fa-user" style="width:30px"></i> 登入</a></li>
                        }
                        else
                        {
                            <li>
                                <span class="opener"><i class="fas fa-user" style="width:30px"></i> 會員</span>
                                <ul>
                                    <li><a href="~/Member/EditMember?ID=@Session["ID"]" style="text-decoration:none"><i class="fas fa-gift" style="width:30px"></i> 會員資訊</a></li>
                                    <li>
                                        <a href="~/Weight/WeightLog" style="text-decoration:none; display:inline-block; position:relative"><i class="fas fa-weight" style="width:30px"></i> 體重管理</a>
                                        @if (Session["NoWeightLog"] != null && (bool)Session["NoWeightLog"])
                                        {   //if last 7 days has no weightlog, show this icon
                                            <i id="weightNotify" class="fa fa-comment" style="color:#f56a6a; display:inline-block; position:relative; top:-7px; left:-3px; font-size:25px"></i>
                                        }
                                    </li>
                                    <li><a href="#" style="text-decoration:none"><i class="fas fa-chart-area" style="width:30px"></i> 綜合圖表</a></li>
                                    <li><a href="~/Home2/UserPoints" style="text-decoration:none"><i class="fas fa-coins" style="width:30px"></i> 儲值管理</a></li>

                                </ul>

                            </li>
                        }
                        <li><a href="~/Home2/Index" style="text-decoration:none"><i class="fas fa-book" style="width:30px"></i> 遊戲規則</a></li>


                        @if (Session["ID"] != null)
                        {

                            <li>
                                <span class="opener"><i class="fas fa-utensils" style="width:30px"></i> 飲食</span>
                                <ul>

                                    <li><a href="~/HHDiet/Create" style="text-decoration:none"><i class="fas fa-pen" style="width:30px"></i> 紀錄飲食</a></li>

                                    <li><a href="~/HHDietHistory/DietLogsHistory" style="text-decoration:none"><i class="fas fa-history" style="width:30px"></i> 飲食歷史</a></li>

                                </ul>

                            </li>


                            <li>
                                <span class="opener"><i class="fas fa-dumbbell" style="width:30px"></i> 運動</span>
                                <ul>

                                    <li><a href="~/Workout/WorkoutLog" style="text-decoration:none"><i class="fas fa-clipboard-list" style="width:30px"></i> 運動紀錄</a></li>
                                    <li><a href="~/Workout/WorkoutSchedule" style="text-decoration:none"><i class="fas fa-running" style="width:30px"></i> 運動排程</a></li>
                                    <li>
                                        <a href="~/Workout/WorkoutPreferences" style="text-decoration:none; display:inline-block; position:relative"><i class="fas fa-star" style="width:30px"></i> 喜好管理</a>
                                        @if (Session["NoPreferences"] != null && (bool)Session["NoPreferences"])
                                        {   //if last 7 days has no weightlog, show this icon
                                            <i id="preferencesNotify" class="fa fa-comment" style="color:#f56a6a; display:inline-block; position:relative; top:-7px; left:-3px; font-size:25px"></i>
                                        }
                                    </li>

                                </ul>

                            </li>

                            <li><a href="~/HHDiet/Create" style="text-decoration:none"><i class="fas fa-fist-raised" style="width:30px"></i> 挑戰</a></li>
 
                            if (Session["InProgram"] != null && (bool)Session["InProgram"])
                            {
                                <li><a href="~/ChatGroup/GroupChat" style="text-decoration:none"><i class="fas fa-sms" style="width:30px"></i>減重聊天群</a></li>
                            }
                        }

                        <li>
                            <span class="opener"><i class="fas fa-gifts" style="width:30px"></i> 禮物</span>
                            <ul>
                                <li><a href="~/FrontGift/GiftList" style="text-decoration:none"><i class="fas fa-gift" style="width:30px"></i> 禮物店</a></li>
                                @if (Session["ID"] != null)
                                {
                                    <li><a href="~/FrontGift/GiftCart?userID=@Session["ID"]" style="text-decoration:none"><i class="fas fa-shopping-cart" style="width:30px"></i> 已兌換禮物</a></li>
                                }

                            </ul>
                        </li>
                        <li>
                            <span class="opener"><i class="fas fa-file" style="width:30px"></i> 貼文</span>
                            <ul>
                                <li><a href="~/FrontPost/AllPosts" style="text-decoration:none"><i class="far fa-file" style="width:30px"></i> 所有貼文</a></li>
                                @if (Session["ID"] != null)
                                {

                                    <li><a href="~/FrontPost/UserPostList" style="text-decoration:none"><i class="fas fa-user-edit" style="width:30px"></i> 我的貼文</a></li>
                                }
                            </ul>
                        </li>
                        @if (Session["ID"] != null)
                        {
                            <li style="position:relative">
                                <a id="showContact" style="text-decoration:none; width:fit-content; display:inline-block"><i class="fas fa-comments" style="width:30px"></i> 聯絡我們</a>
                                <i id="serviceNotify" class="fa fa-comment" style="color: #f56a6a; display: none; position: relative; top:-7px; left: -3px; font-size: 25px;"></i><div id="notReadForSidebar"></div>
                            </li>
                        }

                        @if (Session["ID"] != null)
                        {
                            <li><a href="~/Admin/Login/Index" style="text-decoration:none"><i class="fas fa-user-cog" style="width:30px"></i> 後台</a></li>
                        }

                        @if (Session["ID"] != null)
                        {
                            <li><a href="~/Home2/Logout" style="text-decoration:none"><i class="fas fa-sign-out-alt" style="width:30px"></i> 登出</a></li>
                        }

                    </ul>
                </nav>
            </div>
        </div>

    </div>

    <!--dialog=======================================================-->
    <div id="dialogDiv"><ul></ul></div>
    <div id="programFrozen">
        挑戰已結束，請輸入目前體重<br />
        (還剩下&nbsp;<span style="color: #f56a6a"></span>&nbsp;天)：<br />
        <div>初始體重<span id="initWeight" style="color: #f56a6a"></span>kg/目標體重<span id="tgtWeight" style="color: #f56a6a"></span>kg</div>
        <input type="text" id="resultWeight" placeholder="目前多重呢" autocomplete="off" />
        <label style="display:inline-block;font-size:1.2em">&nbsp;kg</label>
    </div>
    <div id="fanfare">
        恭喜您挑戰成功，獲得了：
        <div style="text-align:center"><span class="programSuccessPts"></span>&nbsp;點</div>
    </div>
    <!--=============================================================-->
    <!--CustomerService==============================================-->
    <div id="chatModal"></div>
    <div id="chatPanel" style="display:none">
        <div class="chatHeader">
            <div>聯絡客服：</div>
            <div id="notRead" class="button">
                <span></span>
            </div>
            <div id="collapse" class="button">
                <i class="fas fa-minus"></i>
            </div>
            <div id="showChatModal" class="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </div>
            <div id="closePanel" class="button">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="chatBody">
            <input type="hidden" id="serviceGroupId" />
            <!-- Conversations are loaded here -->
            <div id="serviceChatBox" class="direct-chat-messages">
            </div>
        </div>
        <div class="chatFooter">
            <input id="serviceMessage" type="text" name="message" placeholder="在此輸入訊息">
            <div id="sendServiceMessage" class="button primary">送出</div>
        </div>
    </div>
    <!--=============================================================-->
    <!--ForServiceDemo===============================================-->
    <div class="demoService">
        <div class="demoButtonService" onclick="autoInputMsgs1()">enchi</div>
        <div class="demoButtonService" onclick="autoInputMsgs2()">wevmn</div>
        <div class="loginButton" onclick="login1()">enchi</div>
        <div class="loginButton" onclick="login2()">wevmn</div>
        <div class="loginButton" onclick="login3()">user01</div>
        <div class="loginButton" onclick="login4()">frank</div>
        <div class="loginButton" onclick="login5()">zzzz</div>
        <div class="loginButton" onclick="login6()">Willy</div>
    </div>
    <!--=============================================================-->
    <!-- Scripts -->
   
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/browser.min.js"></script>
    <script src="~/Content/js/breakpoints.min.js"></script>
    <script src="~/Content/js/util.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>

    @RenderSection("Scripts", required: false)


    <!--恩旗-->
<script language="JavaScript">

    $(window).on("unload", function () {
        $.cookies.del('.ASPXAUTH');
    });

    //=====================================================
    //恩旗
    //Show NoWeightLog dialog


    $(function () {

        var userId = "@Html.Raw(User.Identity.Name)";

        var getPoints = @Json.Encode(Session["GotPoints"]);
        var noWeightLog = @Json.Encode(Session["NoWeightLog"]);
        var noPreferences = @Json.Encode(Session["NoPreferences"]);

        var programFrozen = @Json.Encode(Session["ProgramFrozen"]);

        var dialogShown = @Json.Encode(Session["dialogShown"]);
        var pointShown = @Html.Raw(Request.Cookies["PointShown"] == null ? "false" : Request.Cookies["PointShown"].Value);
        
        if (!pointShown && getPoints > 0) {
            let points = $("<span></span>").text(getPoints)
                .addClass("points");

            $("#dialogDiv > ul").append($("<li></li>").append("昨天共得到了", points, " 點！"));

        }

        if (!dialogShown && noWeightLog) {
            $("#dialogDiv > ul").append($("<li></li>").append("已經7天沒紀錄體重了"));
        }

        if (!dialogShown && noPreferences) {
            $("#dialogDiv > ul").append($("<li></li>").append("還沒選擇喜好的運動類型"));
        }

        if (!dialogShown && $("#dialogDiv > ul > li").length) {
            $("#dialogDiv").dialog({
                title: "提醒",
                modal: true,
                open: function (event, ui) {
                    $('.ui-dialog .btnOK').addClass("primary")
                        .css("padding", "10px").css("border-radius", "5px")
                        .css("outline-color", "white");
                    $(this).parent().focus();
                },
                dialogClass: "no-close",
                buttons: [{
                    text: "OK",
                    class: "btnOK",
                    click: function () {
                        $("#dialogDiv").dialog("close");
                        $.ajax({
                            url: "/Home2/SetDialogShownSession",
                            type: "POST"
                        });

                        if (programFrozen != null && programFrozen > -1) {
                            alertProgramFrozen(programFrozen);
                        }
                    }
                }]
            });

            //$('.ui-dialog button').blur();
            $('.ui-dialog button').mousedown(function (e) {
                e.preventDefault();
            });

        } else if (!dialogShown && programFrozen != null && programFrozen > -1) {
            alertProgramFrozen(programFrozen);
        }


        //====================================================
        //For CustomerService

        if (userId != "") {
            connect();
        }

        $("#collapse").click(function () {

            if ($("#showChatModal i.fa-expand-arrows-alt").length == 0) {
                closeChatModal();
                $("#chatPanel").css("height", "45px");
                $(".chatBody").hide();
                $(".chatFooter").hide();
                $("#collapse i").removeClass("fas fa-minus").addClass("fas fa-plus");
                return;
            }

            if ($("#collapse i.fa-minus").length != 0) {
                $(".chatBody").fadeOut(100, function () {
                    $("#chatPanel").animate({ height: 45 }, function () {
                        $(".chatFooter").fadeOut(0, function () {
                            $("#collapse i").removeClass("fas fa-minus").addClass("fas fa-plus");
                            $(".notReadText").remove();
                        });
                    });
                })
            } else {
                $("#chatPanel").animate({ height: 400 }, function () {
                    $(".chatFooter").fadeIn(600, function () {
                        $("#collapse i").removeClass("fas fa-plus").addClass("fas fa-minus");
                        $(".chatBody").fadeIn(function () {
                            if ($(".notReadText").length != 0) {
                                $("#serviceChatBox").scrollTop($("#serviceChatBox").scrollTop() + $(".notReadText").position().top);
                            }
                            
                            ResetNotReadCount();
                        });
                    });
                });
            }
        });

        $("#closePanel").click(function () {
            $("#chatPanel").css("display", "none");

            if ($("#showChatModal i.fa-expand-arrows-alt").length == 0) {
                closeChatModal();
                return;
            }

            if ($("#collapse i.fa-minus").length != 0) {
                $(".notReadText").remove();
            } else if ($("#notRead span").text() != "0") {
                showNotReadForSidebar($("#notRead span").text());
            }
            
        });

        $("#showContact").click(function () {
            $("#chatPanel").css("display", "flex");
            $("#serviceNotify").css("display", "none");

            if ($("#collapse i.fa-minus").length != 0) {

                if (isChatPanelClose) {
                    $("#collapse i").removeClass("fas fa-minus").addClass("fas fa-plus");
                }

                if ($(".notReadText").length != 0) {
                    $("#serviceChatBox").scrollTop($("#serviceChatBox").scrollTop() + $(".notReadText").position().top);
                } else {
                    $("#serviceChatBox").scrollTop($("#serviceChatBox").prop("scrollHeight"));
                }
                ResetNotReadCount();
            }

        });

        //=============================================================
        //prompt link
        $("#serviceChatBox").on("click", ".promptDiv a", function () {
            $.ajax({
                url: "/FrontContact/SelectPrompt",
                type: "POST",
                data: {
                    connId: $.connection.hub.id,
                    groupId: $("#serviceGroupId").val(),
                    qnaId: $(this).attr("data-qnaId")
                }
            });
        });

        //=============================================================
        //expend chatPanel

        let isChatPanelClose = false;

        let oldScrollTop = 0;

        $("#showChatModal").click(function () {

            oldScrollTop = $("#serviceChatBox").scrollTop();

            if ($("#collapse i.fa-minus").length == 0) {
                isChatPanelClose = true;
                openChatModal();
                $("#chatPanel").addClass("ModalChatPanel");
                $(".chatBody").show();
                $(".chatFooter").show();
                $("#collapse i").removeClass("fas fa-plus").addClass("fas fa-minus");
                $("#serviceChatBox").scrollTop(oldScrollTop);
                ResetNotReadCount();
                
            } else if ($("#showChatModal i.fa-expand-arrows-alt").length != 0) {
                isChatPanelClose = false;
                openChatModal();
                $("#serviceChatBox").scrollTop(oldScrollTop);
            } else {
                closeChatModal();
                $("#chatPanel").css("height", "400px");
                $(".chatBody").show();
                $(".chatFooter").show();
                $("#serviceChatBox").scrollTop(oldScrollTop);
            }

        });
        
        $("#chatModal").click(function (event) {
            if (event.target == this) {
                closeChatModal();
                if (isChatPanelClose) {
                    $("#collapse i").removeClass("fas fa-minus").addClass("fas fa-plus");
                }
            }
        });

    });

    function openChatModal() {
        $("#chatPanel").addClass("ModalChatPanel").appendTo($("#chatModal"));
        $("#showChatModal i").removeClass("fa-expand-arrows-alt").addClass("fa-compress-arrows-alt");
        $("#chatModal").css("display", "flex");
    }

    function closeChatModal() {
        $("#chatModal").css("display", "none");
        $("#showChatModal i").removeClass("fa-compress-arrows-alt").addClass("fa-expand-arrows-alt");
        $("#chatPanel").removeClass("ModalChatPanel").insertAfter($("#chatModal"));
    }

    function alertProgramFrozen(programFrozen) {

        $("#programFrozen span").text(programFrozen);

        $.ajax({
            url: "/Home2/GetProgramWeight",
            type: "POST"
        }).done(function (data) {

            $("#initWeight").text(data.initWeight);
            $("#tgtWeight").text(data.tgtWeight);

            $("#programFrozen").dialog({
                title: "提醒",
                modal: true,
                open: function (event, ui) {
                    $('.ui-dialog .btnOK').addClass("primary")
                        .css("padding", "10px").css("border-radius", "5px")
                        .css("outline-color", "white");
                    $(this).parent().focus();
                },
                dialogClass: "no-close",
                buttons: [{
                    text: "確認",
                    class: "btnOK",
                    click: function () {

                        let patt = /^[0-9]+$/

                        if (!patt.test($("#resultWeight").val())) {
                            alert("請輸入有效體重");
                            return;
                        }

                        if (confirm("確定送出嗎？")) {

                            $.ajax({
                                url: "/Home2/SetResultWeight",
                                type: "POST",
                                data: {
                                    resultWeight: $("#resultWeight").val()
                                },
                                success: function (results) {
                                    fanfare(results);
                                }
                            });

                            $("#programFrozen").dialog("close");
                        }
                    }
                },
                {
                    text: "取消",
                    class: "btnOK",
                    click: function () {
                        $("#programFrozen").dialog("close");
                        $.ajax({
                            url: "/Home2/SetDialogShownSession",
                            type: "POST"
                        });
                    }
                }]
            });
        });

        $('.ui-dialog button').mousedown(function (e) {
            e.preventDefault();
        });
    }

    function fanfare(results) {

        if ($("#weightNotify").length) {
            $("#weightNotify").remove();
        }

        $("#fanfare .programSuccessPts").prepend(results.GetPoints);
        $("#fanfare").dialog({
            title: "恭喜您",
            modal: true,
            open: function (event, ui) {
                $('.ui-dialog .btnOK').addClass("primary")
                    .css("padding", "10px").css("border-radius", "5px")
                    .css("outline-color", "white");
                $(this).parent().focus();
            },
            dialogClass: "no-close",
            buttons: [{
                text: "收下",
                class: "btnOK",
                click: function () {
                    $("#fanfare").dialog("close");
                }
            }]
        });

        //$('.ui-dialog button').blur();
        $('.ui-dialog button').mousedown(function (e) {
            e.preventDefault();
        });
    }

    //===================================================

    function connect() {

        var chat2 = $.connection.chatHub;

        chat2.client.receive = function (connId, userName, message, timeStamp, image, groupId, notReadCount) {

            if ($("#collapse i.fa-minus").length == 0) {

                writeForService(userName, message, $.connection.hub.id == connId, timeStamp, image);
                $(".notReadText").remove();
                appendNotRead(notReadCount);

                $("#notRead span").text(notReadCount);
                $("#notRead").css("visibility", "visible")
                blink();

                if ($("#chatPanel").css("display") == "none") {
                    $("#serviceNotify").css("display", "inline-block");
                    $("#notReadForSidebar").text(notReadCount);
                }
            } else if ($("#chatPanel").css("display") == "none") {
                
                writeForService(userName, message, $.connection.hub.id == connId, timeStamp, image);
                $(".notReadText").remove();
                appendNotRead(notReadCount);

                $("#serviceNotify").css("display", "inline-block");
                $("#notReadForSidebar").text(notReadCount);
            } else {
                writeForService(userName, message, $.connection.hub.id == connId, timeStamp, image);
                $("#serviceChatBox").scrollTop($("#serviceChatBox").prop("scrollHeight"));
                ResetNotReadCount();
            }
        }

        //receive prompt
        chat2.client.receivePrompt = function (displayText, qnaId) {
            writePrompt(displayText, qnaId);
            $("#serviceChatBox").scrollTop($("#serviceChatBox").prop("scrollHeight"));
        }

        $.connection.hub.start().done(function () {

            $.ajax({
                url: "/FrontContact/AddToServiceGroup",
                type: "POST",
                data: {
                    connId: $.connection.hub.id
                }
            }).done(function (data) {

                alert(data.Result);

                $("#serviceGroupId").val(data.GroupId);

                LoadMessagesForService(data.NotReadCount);
                showNotReadForSidebar(data.NotReadCount);
            });

            $("#sendServiceMessage").click(function () {

                if ($("#serviceMessage").val() == "") {
                    alert("請輸入訊息");
                    return;
                }

                promiseForDemo1 = $.ajax({
                    url: "/FrontContact/SendMessage",
                    type: "POST",
                    data: {
                        connId: $.connection.hub.id,
                        groupId: $("#serviceGroupId").val(),
                        message: $("#serviceMessage").val()
                    }
                }).promise();
            });

            if (typeof AddToChatGroup != "undefined") {
                AddToChatGroup();
            }

        });
    }

    function writeForService(userName, message, isSelf, timeStamp, image) {

        var mdConverter = new showdown.Converter();
            message = mdConverter.makeHtml(message);

        if (isSelf) {
            let dialogDiv = $("<div></div>").addClass("messageRow");

            $("<div></div>").css("flex-basis", "100%")
                .append($("<span></span>").css("float", "left").text(userName))
                .append($("<span></span>").css("float", "right").text(timeStamp))
                .appendTo(dialogDiv);

            let textDiv = $("<div></div>").addClass("textDiv");

            $("<img/>").addClass("myImage").css("margin-left", "0px").css("margin-right", "10px")
                .attr("src", "/Areas/Admin/Content/UserImage/" + image)
                .appendTo(textDiv);

            let innerTextDiv = $("<div></div>").addClass("ArrowToLeft").css("margin-right", "auto");

            $("<div></div>").addClass("selfText")
                .css("background-color", "plum").css("border-color", "plum")
                .html(message)
                .appendTo(innerTextDiv);

            $(innerTextDiv).appendTo(textDiv);

            $(dialogDiv).append(textDiv);

            $("#serviceChatBox").append(dialogDiv);


        } else {
            let dialogDiv = $("<div></div>").addClass("messageRow");;

            $("<div></div>").css("flex-basis", "100%")
                .append($("<span></span>").css("float", "right").text(userName))
                .append($("<span></span>").css("float", "left").text(timeStamp))
                .appendTo(dialogDiv);

            let textDiv = $("<div></div>").addClass("textDiv reverse");

            $("<img/>").addClass("myImage").css("margin-right", "0px").css("margin-left", "10px")
                .attr("src", "/Areas/Admin/Content/UserImage/" + image)
                .appendTo(textDiv);

            let innerTextDiv = $("<div></div>").addClass("ArrowToRight").css("margin-left", "auto");

            $("<div></div>").addClass("otherText")
                .css("background-color", "#f56a6a").css("border-color", "#f56a6a")
                .html(message)
                .appendTo(innerTextDiv);

            $(innerTextDiv).appendTo(textDiv);

            $(dialogDiv).append(textDiv);

            $("#serviceChatBox").append(dialogDiv);

        }

    }

    //write prompt
    function writePrompt(displayText, qnaId) {
        let promptDiv = $("<div></div>").addClass("promptDiv");
        let prompt = $("<div></div>").addClass("promptButton").appendTo(promptDiv);
        $("<a></a>").attr("data-qnaId", qnaId).append(displayText).appendTo(prompt);
        $("#serviceChatBox").append(promptDiv);
    }

    //todo Load Group Messages
    function LoadMessagesForService(notReadCount) {

        if ($("#serviceGroupId").val() != "") {
            $.ajax({
                url: "/FrontContact/GetGroupMsgs",
                type: "POST",
                data: {
                    groupId: $("#serviceGroupId").val()
                },
                success: function (data) {

                    $("#serviceChatBox").html("");

                    $.each(data, function (i, msg) {
                        
                        writeForService(msg.userName, msg.message, $.connection.hub.id == msg.connId, msg.timeStamp, msg.image);

                    });

                    appendNotRead(notReadCount);
                }
            });
        }
    }

    function ResetNotReadCount() {

        $("#notRead").css("visibility", "hidden");
        $("#notRead span").text("0");

        $.ajax({
            url: "/FrontContact/ResetNotReadCount",
            type: "POST",
            data: {
                groupId: $("#serviceGroupId").val()
            }
        });
    }

    function blink() {
        $("#notRead").fadeOut(500).fadeIn(500, blink);
    }

    function appendNotRead(notReadCount) {

        let NotReadDiv = $("<div></div>").addClass("notReadText").append("以下為未讀訊息");

        let insertIndex = $("#serviceChatBox > div").length - notReadCount + 1;

        $("#serviceChatBox > div:nth-child(" + insertIndex + ")").before(NotReadDiv);
    }

    function showNotReadForSidebar(notReadCount) {

        if (notReadCount == null) {
            notReadCount = 0;
        }

        if (notReadCount > 0) {
            $("#serviceNotify").css("display", "inline-block");
            $("#notReadForSidebar").text(notReadCount);
        }
    }

    //ForDemo================================

    let promiseForDemo1;

    function autoInputMsgs1() {
        msgs = [
            "請問有客服人員在嗎？",
            "我遇到了減重的問題",
            "我這週爆胖了5公斤"
        ];

        autoInputForService(msgs);
    }

    function autoInputMsgs2() {
        msgs = [
            "客服人員給我出來",
            "我想請你喝飲料",
            "謝謝你幫我減了1公斤"
        ];

        autoInputForService(msgs);
    }

    async function autoInputForService(msgs) {
        for (let i = 0; i < msgs.length; i++) {
            $("#serviceMessage").val(msgs[i]);
            $("#sendServiceMessage").click();
            await promiseForDemo1;
        }
    }

    function login1() {
        $("#demo-email").val("bvwr@gmail.com");
        $("#demo-pwd").val("2222");
    }

    function login2() {
        $("#demo-email").val("rgwr@gmail.com");
        $("#demo-pwd").val("erhr");
    }

    function login3() {
        $("#demo-email").val("afjafe@gmail.com");
        $("#demo-pwd").val("1");
    }

    function login4() {
        $("#demo-email").val("Frank666@gmail.com");
        $("#demo-pwd").val("1111");
    }

    function login5() {
        $("#demo-email").val("zzzz@gmail.com");
        $("#demo-pwd").val("444");
    }

    function login6() {
        $("#demo-email").val("yyy@gmail.com");
        $("#demo-pwd").val("222");
    }
</script>
</body>
</html>