
@{
    ViewBag.Title = "PostDetail";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
@model DTO.LayoutDTO
<!-- Subhead
================================================== -->
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3><strong>文章內容</strong></h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li><a href="#">貼文</a><span class="divider">/</span></li>
                    <li class="active">貼文內容</li>
                </ul>
            </div>

        </div>
    </div>
</section>

<section id="maincontent">
    <div class="container">
        <div class="row">

            <div class="span8">
                <!-- start article full post -->
                <article class="blog-post">
                    <div class="post-heading">
                        <h3><a href="#">@Model.PostDetail.Title</a></h3>
                    </div>
                    <div class="clearfix">
                    </div>

                    <div class="row">
                        <div class="span2">
                            <div class="post-icon">
                                <img src="~/Areas/Admin/Content/UserImage/@Model.PostDetail.MemberImage" />
                                @*<i class="icon-bg-dark icon-circled icon-file icon-3x active"></i>*@
                            </div>
                            <ul class="post-meta">
                                <li><i class="icon-user"></i><span>@Model.PostDetail.MemberName</span></li>
                                <li class="first"><i class="icon-calendar"></i><span>@Model.PostDetail.AddDate.ToString("yyyy/MM/dd dddd")</span></li>
                                <li><i class="icon-list-alt"></i><span><a href="#">@Model.PostDetail.CommentCount</a></span></li>

                            </ul>
                            <div class="clearfix">
                            </div>
                        </div>

                        <div class="span6">
                            <img src="~/Areas/Admin/Content/PostImages/@Model.PostDetail.PostImages[0].ImagePath" alt="" />
                            @Html.Raw(@Model.PostDetail.PostContent)
                        </div>

                    </div>
                </article>

                <!-- end article full post -->
                @using (Html.BeginForm("PostDetail", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {

                    <h4>@Model.CommentCount Comments</h4>
                    <ul class="media-list">
                        @foreach (var item in Model.PostDetail.CommentList)
                        {
                        <li class="media">
                            <input hidden value="@item.ID" class="form-control" name="Comment.ID" style='border: 2px solid lightgray; width:350px' />
                            <input hidden value="@Model.PostDetail.ID" name="PostDetail.ID" />


                            <h5 class="media-heading"><a href="#">@item.MemberName</a></h5>
                            <span>@item.AddDate.ToString("yyyy/MM/dd dddd")</span>
                            @if (item.MemberID != DTO.UserStatic.UserID)
                            {
                                <p>@item.Title</p>
                                <p>@item.CommentContent</p>
                            }

                            @if (item.MemberID == DTO.UserStatic.UserID)
                            {
                                <div class="span12" style="margin:0">
                                    @Html.ValidationMessageFor(x => x.Comment.Title)
                                    <input type="text" value="@item.Title" class="form-control" name="Comment.Title" style='border: 2px solid lightgray; width:350px' />
                                </div>
                                <div class="span12" style="margin:0">
                                    @Html.ValidationMessageFor(x => x.Comment.CommentContent)
                                    <textarea rows="3" class="form-control" name="Comment.CommentContent" style='border: 2px solid lightgray; width:350px;'>@item.CommentContent</textarea>

                                </div>
                                <div class="span6" style="margin:0">
                                    <button class="btn btn-color btn-rounded" id="editBtn">修改</button>
                                    <button class="btn btn-danger btn-rounded">刪除</button>
                                </div>


                            }

                        </li>
                        }
                    </ul>

                }
                @*<form action="@Url.Action("PostDetail", Model)" method="post" class="comment-form" id="commentForm">
                </form>*@
                @if (DTO.UserStatic.UserID != 0)
                {
                    <div class="comment-post">
                        <h4>發布留言</h4>
                        <form action="@Url.Action("PostDetail")" method="post" class="comment-form">
                            <div class="row">
                                <input hidden value="@Model.PostDetail.ID" name="PostDetail.ID" />

                                <div class="span4">
                                    @Html.ValidationMessageFor(x => x.Comment.Name)
                                    <label>姓名 <span>*</span></label>
                                    <input type="text" placeholder="你的名稱" class="form-control-plaintext" name="Comment.Name" />
                                </div>

                                <div class="span4">
                                    @Html.ValidationMessageFor(x => x.Comment.Title)
                                    <label>標題 <span>*</span></label>
                                    <input type="text" placeholder="你的留言標題" class="form-control" name="Comment.Title" />
                                </div>
                                <div class="span8">
                                    @Html.ValidationMessageFor(x => x.Comment.CommentContent)
                                    <label>留言內容 <span>*</span></label>
                                    <textarea rows="9" placeholder="你的留言內容" class="form-control" name="Comment.CommentContent"></textarea>

                                </div>
                                <div class="span6">
                                    <button class="btn btn-color btn-rounded" type="submit"><strong>遞交</strong></button>
                                </div>

                            </div>
                        </form>
                    </div>
                }

            </div>

            <div class="span4">
                <aside>
                    <div class="widget">
                        <h4>Search widget</h4>
                        <form class="form-search">
                            <input placeholder="Type something" type="text" class="input-medium search-query">
                            <button type="submit" class="btn btn-flat btn-color">Search</button>
                        </form>
                    </div>
                    <div class="widget">
                        <h4>Video widget</h4>
                        <div class="video-container">
                        </div>
                    </div>
                    <div class="widget">
                        <h4>Categories</h4>
                        <ul class="cat">
                            <li><a href="#">Web design (114)</a></li>
                            <li><a href="#">Internet news (15)</a></li>
                            <li><a href="#">Tutorial and tips (20)</a></li>
                            <li><a href="#">Design trends (15)</a></li>
                            <li><a href="#">Online business (10)</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h4>Recent posts</h4>
                        <ul class="recent-posts">
                            <li>
                                <a href="#"><img src="" alt="" /> Lorem ipsum dolor sit amet munere commodo ut nam</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 6 June, 2013</span>
                                <span class="comment"><i class="icon-comment"></i> 4 Comments</span>
                            </li>
                            <li>
                                <a href="#"><img src="" alt="" /> Sea nostrum omittantur ne mea malis nominavi insolens</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 6 June, 2013</span>
                                <span class="comment"><i class="icon-comment"></i> 2 Comments</span>
                            </li>
                            <li>
                                <a href="#"><img src="" alt="" /> Eius graece recusabo no pri odio tale quo id, mea at saepe</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 4 June, 2013</span>
                                <span class="comment"><i class="icon-comment"></i> 12 Comments</span>
                            </li>
                            <li>
                                <a href="#"><img src="" alt="" /> Malorum deserunt at nec usu ad graeco elaboraret at rebum</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 3 June, 2013</span>
                                <span class="comment"><i class="icon-comment"></i> 3 Comments</span>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h4>Tags</h4>
                        <ul class="tags">
                            <li><a href="#">Tutorial</a></li>
                            <li><a href="#">Tricks</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Trends</a></li>
                            <li><a href="#">Online</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- Footer
================================================== -->
<script src="~/Content/js/jquery.js"></script>
<script>

    @*var titleText;
    var contentText;
    $(document).ready(function () {
        $(".media-list").on("click", "#editBtn", function () {
            titleText = $("#titleTextbox").text();
            $("#titleTextbox").empty();
            $("#titleTextbox").append("<input type = 'text' style='border: 2px solid lightgray; width:350px' name='Comment.Title' value=" + titleText + ">");
            contentText = $("#contentTextbox").text();
            $("#contentTextbox").empty();
            $("#contentTextbox").append("<textarea type = 'text' style='border: 2px solid lightgray; width:350px' name='Comment.CommentContent'>"+contentText.trim()+"</textarea>");
            $(this).replaceWith("<button class='btn btn-primary btn-rounded' id='updateBtn'>更新</button>")

        });
    });
    var data = @Html.Raw(Json.Encode(Model));
    $(document).ready(function () {
        $(".media-list").on("click", "#updateBtn", function (e) {
            $("#titleTextbox").replaceAll();
            $("#contentTextbox").replaceAll();
            $("#titleTextbox").text(titleText);
            $("#contentTextbox").text(contentText);
            $("#IsUpdate").val(true);
            $(this).replaceWith("<button class='btn btn-color btn-rounded' id='editBtn'>修改</button>");

        });});
    $(document).ready(function () {
        $("#commentForm").submit(function (e) {
            e.preventDefault();
            console.log(this);
            console.log(data);
            $.ajax({
                url: "/Home/PostDetail",
                type: "POST",
                data: data

            });
        })
 });*@





</script>
