
@{
    ViewBag.Title = "GiftCart";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}

@section Styles {
    <link href="~/Content/toastr/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        @@font-face {
            font-family: 'BarcodeFont';
            src: url('../Areas/Admin/Content/webfonts/BarcodeFont.ttf')
        }

        tbody td {
            padding: 5px;
        }

        .barcodeFont {
            font-family: 'BarcodeFont';
            font-size: 3em;
            padding: 0px;
            padding-left: 10px
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
        }
    </style>

}
@model List<DTO.GiftCartDTO>
<header style="background-color: #fff0f0; width: 100%; padding-right: 0px " class="pt-5 pb-1 m-0 col-12">
    <div class="row" style="width: 100%; padding-right: 20px">

        <div class="col-4 col-sm-3 col-md-3 col-lg-2 p-2 p-0" style="text-align:center">
            <a href="/Home2/Index"><img src="~/Areas/Admin/Content/tempimage/hLogoRed.jpg" style="max-width:90px;width:100%"></a>
        </div>
        <div class="col-8 col-sm-6 col-md-6 col-lg-8 p-1 align-self-center">
            <h2><i class="fas fa-shopping-cart"> </i> 已兌換禮物</h2>
        </div>
        <div class="col-0 col-sm-3 col-md-3 col-lg-2 align-self-end d-none d-sm-block">

            <a href="~/FrontGift/GiftList"><label class="button primary"><i class="fas fa-gifts"></i> 禮物商店</label></a>


        </div>
    </div>
</header>
<header id="header" class="m-0 p-0"></header>

<section class="pt-2">
    @if (Session["ID"] != null)
    {
    <div class="col-12 mb-2" style="text-align:center;font-size:1.2em">
        <i class="far fa-user"> </i> <strong>@Session["Name"]</strong> 目前剩餘 <strong>
            @Session["Points"]
        </strong>點
    </div>
    }
    <div class="row" style="margin-bottom:5px">
        <div class="col-12 col-md-6 mb-1">
            <input type="text" id="searchText" class="form-control" placeholder="關鍵字" style="height:40px" />
        </div>
        <div class="col-12 col-md-6 mb-1">
            <select id="searchFilter" class="form-control">
                <option selected disabled value="-1">排序條件</option>
                <option value=0>截止日: 近 => 遠</option>
                <option value=1>截止日: 遠 => 低</option>
            </select>
        </div>
    </div>
    <div class="row" id="cartList">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-4 col-md-4 d-flex justify-content-center" style="margin:auto;">
                @if (item.EndDate < DateTime.Today)
                {
                    <img class="image" src="~/Areas/Admin/Content/CartImages/@item.Image" style="max-width:200px;width:100%;opacity:0.45" />
                    <div class="centered"><h5>已截止</h5></div>
                }
                else
                {
                    <img class="image" src="~/Areas/Admin/Content/CartImages/@item.Image" style="max-width:200px;width:100%" />
                }

            </div>
            <div class="col-12 col-sm-8 col-md-8">
                <div>
                    <table style="margin-bottom:0px">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>名稱</strong></td>
                                <td>@item.Name</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><strong>商家通路</strong></td>
                                <td>@item.Store</td>
                            </tr>
                            <tr>
                                <td width="30%"><strong>兌換期限</strong></td>
                                <td>
                                    <span>
                                        @item.AddDate.ToString("yyyy/MM/dd") 至
                                        @item.EndDate.ToString("yyyy/MM/dd")
                                    </span>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle"><strong>掃描條碼</strong></td>
                                <td class="barcodeFont"> @item.Barcode</td>
                                @if (!item.IsExpired)
                                {
                                    <td style="vertical-align:middle;text-align:end">
                                        <a href="@Url.Action("SendBarcode", new { barcode = item.Barcode })"
                                           class="button default m-0" style="text-decoration:none;" onclick="return confirm('確定要將條碼送到信箱嗎?')">
                                            <i class="fas fa-envelope">
                                            </i> 寄給我
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td style="vertical-align:middle;text-align:end">
                                        <label class="button disabled primary m-0">已截止</label>
                                    </td>
                                }
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }

    </div>

</section>

@section Scripts {
    <script src="~/Content/toastr/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-center",
                "text-align": "center",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
            var result = "@TempData["Sent"]";
            console.log(result);
            if (result != "") {
                if (result == "Success") {
                    toastr.success("成功將條碼寄送至信箱");
                }
                else {
                    toastr.error("失敗");
                }
            }
        })

    </script>
    <script>

        var timeOut = null;
        $(document).ready(function () {
            $('#searchText').keyup(function () {
                if (timeOut != null) {
                    clearTimeout(timeOut);
                }
                timeOut = setTimeout(function () {
                    timeOut = null;
                    const text = $('#searchText').val();
                    $('#cartList').html('');
                    $('#searchFilter').val("-1");
                    $.ajax({
                        type: "post",
                        url: "GetCarts?text=" + text,
                        contentType: "html",
                        success: function (result) {
                            $.each(result, function (index, value) {
                                let resultDiv = $("<div></div>")
                                    .addClass("col-12 col-sm-4 col-md-4 d-flex justify-content-center")
                                    .css("margin", "auto");
                                $("<img/>")
                                    .addClass("image")
                                    .css("max-width", "200px").css("width", "100%")
                                    .attr("src", "/Areas/Admin/Content/CartImages/" + value.Image)
                                    .appendTo(resultDiv);

                                let infoDiv = $("<div></div>").addClass("col-12 col-sm-8 col-md-8");

                                let outTbDiv = $("<div></div>").addClass("table-wrapper").appendTo(infoDiv);

                                let tbDiv = $("<table></table>")
                                    .css("margin-bottom", "0px")
                                    .appendTo(outTbDiv)
                                    .append("<thead><tr><th></th><th></th></tr></thead>");

                                let bodyDiv = $("<tbody></tbody>").appendTo(tbDiv)

                                let firstRow = $("<tr></tr>").appendTo(bodyDiv);
                                let nameText = $("<strong></strong>").text("名稱");
                                $("<td></td>").append(nameText).appendTo(firstRow);
                                $("<td></td>").text(value.Name).appendTo(firstRow);
                                $("<td></td>").appendTo(firstRow);

                                let secondRow = $("<tr></tr>").appendTo(bodyDiv);
                                storeText = $("<strong></strong>").text("商家通路");
                                $("<td></td>").append(storeText).appendTo(secondRow);
                                $("<td></td>").text(value.Store).appendTo(secondRow);

                                let thirdRow = $("<tr></tr>").appendTo(bodyDiv);
                                storeText = $("<strong></strong>").text("兌換期限");
                                $("<td></td>").css("width", "30%").append(storeText).appendTo(thirdRow);
                                $("<td></td>").text(value.Duration).appendTo(thirdRow);
                                $("<td></td>").appendTo(thirdRow);


                                let fourthRow = $("<tr></tr>").appendTo(bodyDiv);
                                storeText = $("<strong></strong>").text("掃描條碼");
                                $("<td></td>").css("vertical-align", "middle").append(storeText).appendTo(fourthRow);
                                $("<td></td>")
                                    .addClass("barcodeFont")
                                    .css("font-size", "3em").css("padding", "0px").css("padding-left", "10px")
                                    .text(value.Barcode).appendTo(fourthRow);




                                if (!value.IsExpired) {
                                    let sendBtn = $("<td></td>").css("vertical-align", "middle").css("text-align", "end").appendTo(fourthRow);

                                    let icon = $("<i></i>").addClass("fas fa-envelope");
                                    let link = $("<a/>").attr("href", "/FrontGift/SendBarcode?barcode=" + value.Barcode)
                                        .addClass("button default m-0")
                                        .css("text-decoration", "none")
                                        .text(" 寄給我 ")
                                        .on("click", function () { return confirm("確定要將條碼送到信箱嗎?"); }).appendTo(sendBtn);
                                    icon.prependTo(link);
                                }
                                else {
                                    let expireLabel = $("<label></label>").addClass("button disabled primary m-0").text("已截止");
                                    $("<td></td>").css("vertical-align", "middle").css("text-align", "end").append(expireLabel).appendTo(fourthRow);;
                                }

                                tbDiv.append("<tfoot><tr><td></td><td></td></tr></tfoot>")

                                resultDiv.appendTo('#cartList');
                                infoDiv.appendTo("#cartList")
                            })
                        }
                    })
                    $('#cartList').html('');
                }, 200)

            })
            $('#searchFilter').change(function () {
                const isAscending = $(this).val();
                $('#searchText').val("");
                $('#cartList').html('');
                $.ajax({
                    type: "post",
                    url: "GetOrderedCarts?isAscending=" + isAscending,
                    contentType: "html",
                    success: function (result) {
                        $.each(result, function (index, value) {
                            let resultDiv = $("<div></div>")
                                .addClass("col-12 col-sm-4 col-md-4 d-flex justify-content-center")
                                .css("margin", "auto");
                            $("<img/>")
                                .addClass("image")
                                .css("max-width", "200px").css("width", "100%")
                                .attr("src", "/Areas/Admin/Content/CartImages/" + value.Image)
                                .appendTo(resultDiv);

                            let infoDiv = $("<div></div>").addClass("col-12 col-sm-8 col-md-8");

                            let outTbDiv = $("<div></div>").addClass("table-wrapper").appendTo(infoDiv);

                            let tbDiv = $("<table></table>")
                                .css("margin-bottom", "0px")
                                .appendTo(outTbDiv)
                                .append("<thead><tr><th></th><th></th></tr></thead>");

                            let bodyDiv = $("<tbody></tbody>").appendTo(tbDiv)

                            let firstRow = $("<tr></tr>").appendTo(bodyDiv);
                            let nameText = $("<strong></strong>").text("名稱");
                            $("<td></td>").append(nameText).appendTo(firstRow);
                            $("<td></td>").text(value.Name).appendTo(firstRow);
                            $("<td></td>").appendTo(firstRow);

                            let secondRow = $("<tr></tr>").appendTo(bodyDiv);
                            storeText = $("<strong></strong>").text("商家通路");
                            $("<td></td>").append(storeText).appendTo(secondRow);
                            $("<td></td>").text(value.Store).appendTo(secondRow);

                            let thirdRow = $("<tr></tr>").appendTo(bodyDiv);
                            storeText = $("<strong></strong>").text("兌換期限");
                            $("<td></td>").css("width", "30%").append(storeText).appendTo(thirdRow);
                            $("<td></td>").text(value.Duration).appendTo(thirdRow);
                            $("<td></td>").appendTo(thirdRow);

                            let fourthRow = $("<tr></tr>").appendTo(bodyDiv);
                            storeText = $("<strong></strong>").text("掃描條碼");
                            $("<td></td>").css("vertical-align", "middle").append(storeText).appendTo(fourthRow);
                            $("<td></td>")
                                .addClass("barcodeFont")
                                .css("font-size", "3em").css("padding", "0px").css("padding-left", "10px")
                                .text(value.Barcode).appendTo(fourthRow);

                            if (!value.IsExpired) {
                                let sendBtn = $("<td></td>").css("vertical-align", "middle").css("text-align", "end").appendTo(fourthRow);

                                let icon = $("<i></i>").addClass("fas fa-envelope");
                                let link = $("<a/>").attr("href", "/FrontGift/SendBarcode?barcode=" + value.Barcode)
                                    .addClass("button default m-0")
                                    .css("text-decoration", "none")
                                    .text(" 寄給我 ")
                                    .on("click", function () { return confirm("確定要將條碼送到信箱嗎?"); }).appendTo(sendBtn);
                                icon.prependTo(link);
                            }
                            else {
                                let expireLabel = $("<label></label>").addClass("button disabled primary m-0").text("已截止");
                                $("<td></td>").css("vertical-align", "middle").css("text-align", "end").append(expireLabel).appendTo(fourthRow);;
                            }

                            tbDiv.append("<tfoot><tr><td></td><td></td></tr></tfoot>")

                            resultDiv.appendTo('#cartList');
                            infoDiv.appendTo("#cartList")
                        })
                    }
                })
            })
        })

    </script>

}