
@{
    ViewBag.Title = "GiftList";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}
@model List<DTO.GiftDTO>
@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
        }
    </style>
}

        <!-- Section -->
        <section>
            <header class="row">
                <div class="row col-12">
                    <div class="col-8 col-sm-9 col-md-10" style="display:inline;">
                        <h3 style="margin-bottom: 10px;">
                            <i class="fas fa-gift" style="width:30px"></i> 禮物商店
                        </h3>
                    </div>
                    <div class="col-2 col-md-2" style="padding-right:0px; text-align:end">
                        @if (Session["ID"] != null)
                        {<a href="~/FrontGift/GiftCart?userID=@Session["ID"]"><label class="button primary">檢視禮物車</label></a>
                        }
                        else
                        {
                            <a href="~/Home2/Login"><label class="button primary">登入</label></a>

                        }
                    </div>
                </div>
                @if (Session["ID"] != null)
                {
                    <div class="col-12">
                        <strong>@Session["Name"]</strong> 目前擁有 
                        <strong>@Session["Points"] </strong>點
                    </div>
                }

            </header>
            <header class="major"><p class="col-12" style="margin-bottom:5px"></p></header>
            <div class="row" style="margin-bottom:5px">
                <div class="col-12 col-md-6">
                    <input type="text" id="searchText" class="form-control" placeholder="關鍵字" style="height:40px" />
                </div>
                <div class="col-12 col-md-6">
                    <select id="searchFilter" class="form-control">
                        <option selected disabled value="-1">排序條件</option>
                        <option value=0>點數: 低 => 高</option>
                        <option value=1>點數: 高 => 低</option>
                    </select>
                </div>
            </div>
            <div class="row" id="resultList">

            </div>
            <div class="row" id="cartList">
                @foreach (var item in Model)
                {
                <div class="col-6 col-sm-4 col-md-4 col-lg-3 mb-5" style="text-align:center">
                    @if (item.EndDate < DateTime.Today)
                    {
                    <a href="~/FrontGift/GiftDetail/@item.ID" class="image">
                        <img src="~/Areas/Admin/Content/GiftImages/@item.Image" alt="" style="max-width:100%;max-height:100%;opacity:0.3" />
                        <div class="centered"><h5>已截止</h5></div>
                    </a>
                    }
                    else
                    { <a href="~/FrontGift/GiftDetail/@item.ID" class="image">
                            <img src="~/Areas/Admin/Content/GiftImages/@item.Image" alt="" style="max-width:100%;max-height:100%" />
                        </a>
                    }

                    <div class="button fit" style="pointer-events: none;font-size: 1.4em;line-height: 1.5em;height: auto;text-align: center;padding:unset">
                        <label style="font-weight: bolder;font-size:1em;display: inline-block;margin:0px">
                            @item.Points 點
                        </label>
                    </div>
                    <strong style="text-align: center">@item.Name</strong>
                    <p>剩餘 @item.Quantity 件</p>
                </div>
                }
            </div>
            
        </section>
 
@section Scripts {

    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/Content/js/jquery.min.js"></script>*@

    <script>
        var timeOut = null;
        $(document).ready(function () {
            $('#searchText').keyup(function () {
                if (timeOut != null) {
                    clearTimeout(timeOut);
                }
                timeOut = setTimeout(function () {
                    timeOut = null;
                    const text = $('#searchText').val();
                    $('#searchFilter').val("-1");
                    $('#cartList').hide();
                    $('#cartList').empty();
                    $.ajax({ // 呼叫非同步
                        type: "post",
                        url: "GetGifts?text=" + text, // 動作名稱 + 參數
                        contentType: "html",
                        success: function (result) { // 做什麼事情
                            $.each(result, function (index, value) { // 跑回圈
                                var insertedHtml =
                                    '<div class="col-6 col-sm-4 col-md-4 col-lg-3 mb-5" style="text-align:center">' +
                                    '<a href="GiftDetail/' + value.ID + '" class="image">' +
                                    '<img src="/Areas/Admin/Content/GiftImages/' + value.Image + '" alt="" style="max-width:100%;max-height:100%"/>' +
                                    '</a>' +
                                    '<div class="button fit" style="pointer-events: none;font-size: 1.4em;line-height: 1.5em;height: auto;text-align: center;padding:unset">' +
                                    '<label style="font-weight: bolder;font-size:1em;display: inline-block;">' +
                                    value.Points +
                                    '點</label>' +
                                    '</div>' +
                                    '<strong style="text-align: center">' + value.Name + '</strong>' +
                                    '<p>剩餘' + value.Quantity + ' 件</p>' +
                                    '</div>';
                                $('#cartList').append(insertedHtml);
                            })
                            $('#cartList').show();

                        }
                        
                    })
                }, 200)
                return false;
            })
            $('#searchFilter').change(function () {
                const isAscending = $(this).val();
                $('#searchText').val("");
                $('#cartList').html('');
                $.ajax({
                    type: "post",
                    url: "GetOrderedGifts?isAscending=" + isAscending,
                    contentType: "html",
                    success: function (result) {
                        $.each(result, function (index, value) {
                            var insertedHtml =
                                '<div class="col-6 col-sm-4 col-md-4 col-lg-3 mb-5" style="text-align:center">' +
                                '<a href="GiftDetail/' + value.ID + '" class="image">' +
                                '<img src="/Areas/Admin/Content/GiftImages/' + value.Image + '" alt="" style="max-width:100%;max-height:100%"/>' +
                                '</a>' +
                                '<div class="button fit" style="pointer-events: none;font-size: 1.4em;line-height: 1.5em;height: auto;text-align: center;padding:unset">' +
                                '<label style="font-weight: bolder;font-size:1em;display: inline-block;margin:0px">' +
                                value.Points +
                                '點</label>' +
                                '</div>' +
                                '<strong style="text-align: center">' + value.Name + '</strong>' +
                                '<p>剩餘' + value.Quantity + ' 件</p>' +
                                '</div>';
                            $('#cartList').append(insertedHtml);
                        })
                    }
                })
            })
        })
    </script>
}