
@{
    ViewBag.Title = "AllComments";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model List<DTO.CommentDTO>
<section class="content-header">
    <h1>所有留言</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>後臺頁面</a></li>
        <li class="breadcrumb-item"><a>留言</a></li>
        <li class="breadcrumb-item active"><a>所有留言</a></li>
    </ol>
</section>
<br />
<!-- Info boxes -->
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-comment"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">總評論數</span>
                <span class="info-box-number">
                    @BLL.CommentBLL.CommentStatistics.CommentCount
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-pen"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">待審核筆數</span>
                <span class="info-box-number">
                    @BLL.CommentBLL.CommentStatistics.UnapprovedCount
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-down"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">負面評論</span>
                <span class="info-box-number">
                    @BLL.CommentBLL.CommentStatistics.NegativeCount
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-exclamation-triangle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">已檢舉的評論數</span>
                <span class="info-box-number">
                    @BLL.CommentBLL.CommentStatistics.ReportedCount
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<div class="card">
    <!--</div>-->
    <!-- /.row -->
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>留言者</th>
                    <th><span style="background-color: #fff6cf ">文章標題</span><br />與留言內容</th>
                    <th>新增日期</th>
                    <th>負面指數</th>
                    <th>受檢舉</th>
                    <th>核准</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr id="a_@item.ID">
                    <td>
                        @item.MemberName
                    </td>

                    <td style="max-width:450px">
                        <span style="background-color: #ffed9c">@item.PostTitle</span><br />
                        @Html.Raw(item.CommentContent)
                    </td>
                    <td>
                        @item.AddDate.ToString("yyyy.MM.dd")
                    </td>
                    @if (item.SentimentScore >= 0.8)
                    {
                        <td style="color:red; background-color:antiquewhite">

                            @String.Format("{0:0.00}", @item.SentimentScore)

                        </td>
                    }
                    else
                    {
                        <td>

                            @String.Format("{0:0.00}", @item.SentimentScore)

                        </td>
                    }

                    <td>
                        @if (item.IsReported == true)
                        {
                            <a href="../Comment/ClearReport?commentID=@item.ID">
                                <span>消除舉報</span>
                            </a>
                        }
                        else
                        { <span>否</span>}

                    </td>
                    @if (!item.IsApproved)
                    {
                        <td align="center" valign="middle">
                            <a href="../Comment/ApproveComment/@item.ID">
                                <img src="~/Areas/Admin/Content/icon/approve.png" />
                            </a>
                        </td>
                    }
                    else
                    {
                        <td align="center" valign="middle">
                            已核准
                        </td>
                    }

                    <td align="center" valign="middle">
                        <a href="#">
                            <img src="~/Areas/Admin/Content/icon/close-icon.png" onclick="AskQuestion('../Comment/DeleteComment/', @item.ID)" />
                        </a>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>內容</th>
                    <th><span style="background-color: #fff6cf ">文章標題</span><br />與留言內容</th>
                    <th>新增日期</th>
                    <th>負面指數</th>
                    <th>受舉報</th>
                    <th>核准</th>
                    <th>刪除</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
<!-- /.card -->
@section Scripts
{

}
